# Data Exploration

### Libraries

In [16]:
import numpy as np
from numpy.core.defchararray import add
import pandas as pd
import xlrd
import os
import plotly
import plotly.express as px
from functools import reduce
import sklearn

In [ ]:
# New Libraries

In [13]:
# # install new libraries
# !pip install plotly
#!pip install matplotlib
#!pip install seaborn
#!pip install statsmodels
#!pip install xgboost
!pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/00/37/a392e669a83fef72b916009c438a924d2a9d70bc8aea62662b207105ed98/lightgbm-2.2.3-py2.py3-none-win_amd64.whl (515kB)
Requirement already satisfied: scipy in c:\users\delightb\appdata\local\continuum\anaconda3\envs\tensorenviron\lib\site-packages (from lightgbm) (1.2.1)
Requirement already satisfied: numpy in c:\users\delightb\appdata\local\continuum\anaconda3\envs\tensorenviron\lib\site-packages (from lightgbm) (1.16.4)
Requirement already satisfied: scikit-learn in c:\users\delightb\appdata\local\continuum\anaconda3\envs\tensorenviron\lib\site-packages (from lightgbm) (0.21.2)
Requirement already satisfied: joblib>=0.11 in c:\users\delightb\appdata\local\continuum\anaconda3\envs\tensorenviron\lib\site-packages (from scikit-learn->lightgbm) (0.13.2)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.2.3

### Load the pickles into data frames

In [2]:
df_hd = pd.read_pickle('houseAll.pkl')
df_pop = pd.read_pickle('metroPop.pkl')
df_hc = pd.read_pickle('metroHouse.pkl')
df_year_base = pd.read_pickle('yearTotals.pkl')
df_jobTypes = pd.read_pickle('jobTypes.pkl')
df_jobSalery = pd.read_pickle('jobSalery.pkl')
parcelNum = 'R2024320455'

## Stuff

In [ ]:
df_hd.head(5)
#df_hd['GROUP'].nunique()
#df_hd.dtypes

In [ ]:
#df_hd.dtypes
df_hd['Neighborhood'].unique()

In [3]:
# Abbreviated dataframe for all of the parcels
df_hd = pd.read_pickle('houseAll.pkl')
short_house = df_hd[['Year','Parcel','Year_Built','Age','Total_Sq_Ft','Bedroom_Count','Area','Neighborhood','TAV']]
short_house.to_pickle('short_house.pkl')
short_house.head()

,Year,Parcel,Year_Built,Age,Total_Sq_Ft,Bedroom_Count,Area,Neighborhood,TAV
0,2000,R0017650020,1998,2,2400,4,W BOISE,NORTH CENTRAL BENCH,158000.0
1,2000,R0017650030,1999,1,2352,4,W BOISE,NORTH CENTRAL BENCH,165800.0
2,2000,R0017650040,1999,1,2352,4,W BOISE,NORTH CENTRAL BENCH,165800.0
3,2000,R0017650050,1998,2,2352,4,W BOISE,NORTH CENTRAL BENCH,155000.0
4,2000,R0027000008,1937,63,3008,1,BOISE BENCH,CENTRAL BOISE BENCH,129100.0

In [4]:
#short_house.loc[short_house['PARCEL'] == parcelNum]
short_house = pd.read_pickle('short_house.pkl')
myA = short_house[short_house['Area'] == 'BOISE BENCH']
myA.to_pickle('myA.pkl')
myN = short_house[short_house['Neighborhood'] == 'CENTRAL BOISE BENCH']
myN.to_pickle('myN.pkl')
myN.head()

,Year,Parcel,Year_Built,Age,Total_Sq_Ft,Bedroom_Count,Area,Neighborhood,TAV
4,2000,R0027000008,1937,63,3008,1,BOISE BENCH,CENTRAL BOISE BENCH,129100.0
5,2000,R0027000013,1937,63,1704,4,BOISE BENCH,CENTRAL BOISE BENCH,85200.0
6,2000,R0027000018,1937,63,2330,2,BOISE BENCH,CENTRAL BOISE BENCH,106700.0
7,2000,R0027000025,1950,50,625,2,BOISE BENCH,CENTRAL BOISE BENCH,46400.0
8,2000,R0027000030,1950,50,676,1,BOISE BENCH,CENTRAL BOISE BENCH,59600.0

In [ ]:
myA.head()

### Searching code

# Big merge for testing LM

In [19]:
jobTypes = pd.read_pickle('jobTypes.pkl')
jobSalery = pd.read_pickle('jobSalery.pkl')
yearTotals = pd.read_pickle('yearTotals.pkl')
myN = pd.read_pickle('myN.pkl')
myA = pd.read_pickle('myA.pkl')

dfn = [myN, jobTypes, jobSalery, yearTotals]
dfa = [myA, jobTypes, jobSalery, yearTotals]
dfN = reduce(lambda left,right: pd.merge(left,right, on = 'Year'), dfn)
dfA = reduce(lambda left,right: pd.merge(left,right, on = 'Year'), dfa)
dfN.to_pickle('NmodelDF.pkl')
dfA.to_pickle('AmodelDF.pkl')

# Testing LM

New try for Linear Regression Multiple Variables, https://www.youtube.com/watch?v=J_LnPL3Qg70

In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [ ]:
# Using myN to make a dataframe that is like the example in the tutorial
miniTestN = dfN[['Total_Sq_Ft','Bedroom_Count','Age','TAV']]
miniTestA = dfA[['Total_Sq_Ft','Bedroom_Count','Age','TAV']]
miniTest.head()

In [ ]:
regN = linear_model.LinearRegression()
regA = linear_model.LinearRegression()
# reg.fit(ind vars, dep var)
regN.fit(miniTestN[['Total_Sq_Ft','Bedroom_Count','Age']],miniTestN.TAV)
regA.fit(miniTestA[['Total_Sq_Ft','Bedroom_Count','Age']],miniTestA.TAV)

In [ ]:
regN.coef_
regA.coef_
regN.intercept_
regA.intercept_
regN.predict([[1700,3,75]])
# this makes since because there are very few change variables only age goes up by 1 and the TAV goes up, needs the rest
regA.predict([[1700,3,75]])

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [ ]:
x = pd.DataFrame(np.c)
y = ['T']

In [ ]:
dfL.describe()

In [ ]:
sns.distplot(dfL['TAV'])

In [ ]:
#myN.info()
#jobTypes.info()
#jobSalery.info()
yearTotals.info()

# Testing outliers and getting the data into graphing and analysis

In [ ]:
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import numpy as np
import warnings
import matplotlib.pyplot as plt

In [ ]:
sns.set(rc={'figure.figsize':(12, 7.5)})
sns.set_context('talk')

In [ ]:

#df_hd.loc[df_hd['GROUP'] == 'ELIZABETH PL']

#tBlock = short_house.loc[(short_house['TOWNSHIP'] == '3N')&(short_house['RANGE']=='2E')&(short_house['SECTION']==16)]

#tList = tBlock[tBlock['GROUP'].str.contains(r'GLEN)]
#tList.GROUP.unique()

In [ ]:
myN00 = myN[myN['YEAR'] == 2000]
myN00.to_pickle('myN00.pkl')
myN00.head()

In [ ]:
sns.distplot(myN00['TAV'])

$z$ - score $ = \frac{x-\mu}{\sigma}$

In [ ]:
#mean
myNmean = myN['TAV'].mean()

# standard deviation
myNsd = myN['TAV'].std()

myN00['Z-Score'] = (myN00['TAV']-myNmean)/myNsd

myN00.to_pickle('myN00.pkl')
myN00.head()
#myNmean
#myNsd

In [ ]:
myN00['Z-Score'].min()
myN00['Z-Score'].min()
#sns.distplot(myN00['Z-Score'])

# Make df for all neighborhoods over each year

In [ ]:
# make list of neighborhoods

# make list of years

In [ ]:
# make a fn to make a vector for average house $ for a neighborhood for each year

In [ ]:
# make a df where each column is one of the vectors made from the fn

In [ ]:
myN00 = pd.read_pickle('myN00.pkl')

myN00F = myN00.loc[(myN00['Z-Score'] <= 3) & (myN00['Z-Score'] >= -3) ]
#myN00 = myN00.drop(myN00[myN00['Z-Score'] <= 3].index, inplace = True)
#myN00['Z-Score'].max()
myN00F.head()

In [ ]:
myN00['Z-Score'].max()

In [ ]:
myN00.shape

In [ ]:
sns.distplot(myN00F['TAV'], color = "maroon")

## Figure out IQR
$$IQR = Q3-Q1$$
Outliers:
    $$<(Q1 - 1.5 * IQR)$$
    $$>(Q3 + 1.5 * IQR)$$

In [ ]:
myN00q1 = myN00['TAV'].quantile(0.25)
myN00q3 = myN00['TAV'].quantile(0.75)
myN00iqr = myN00q3 - myN00q1
iqrMax = myN00q3 + (1.5*myN00iqr)
iqrMin = myN00q1 - (1.5*myN00iqr)
myN00iqr

In [ ]:
myN00 = pd.read_pickle('myN00.pkl')
myN00i = myN00[(myN00['TAV']<iqrMax) & (myN00['TAV'] > iqrMin)]
myN00i['TAV'].max()

In [ ]:
print(myN00F['TAV'].max())
print(myN00q3+(1.5*myN00iqr))

In [ ]:
sns.distplot(myN00i['TAV'])
#sns.distplot(myN00F['TAV'], color = "maroon")

In [ ]:
myN00i['TAV'].hist()

In [ ]:
#df_year_base

import plotly
import plotly.express as px

fig1 = px.line(df_year_base, x='Year', y = 'TotalHouse')
fig2 = px.line(df_year_base, x='Year', y = 'TotalPop')
fig2.show()

In [ ]:
df_year_base.info()

# Graph Stuff

In [ ]:
import plotly
import plotly.express as px

fig1 = px.box(mySec, x='YEAR', y = 'TAV')
fig1.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data =go.Scatter(
        x = mySec['YEAR'],
        y = mySec['TAV']))

fig.show()

### Look into z-scores for trimming the outliers
https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba

In [22]:
yearTotals = pd.read_pickle('yearTotals.pkl')
yearTotals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
Year          19 non-null category
TotalHouse    19 non-null int32
TotalPop      19 non-null int32
TotalEmp      19 non-null float64
dtypes: category(1), float64(1), int32(2)
memory usage: 555.0 bytes

In [45]:
import datetime as dt

In [47]:
yearTotals = pd.read_pickle('yearTotals.pkl')

#yearTotals.astype({'Year' : 'datetime'})
#type(yearTotals.at[2,0])
yearTotals['Year'] = yearTotals['Year'].astype(str)
yearTotals['Year'] = yearTotals['Year'].astype('datetime64[Y]')
#yearTotals['Year'] = pd.to_datetime(yearTotals['Year'], format = '%Y')

yearTotals['Year'] = yearTotals['Year'].dt.year


yearTotals

County  Year  TotalHouse  TotalPop  TotalEmp
0       2000      182764    469017  229780.0
1       2001      189127    486078  222100.0
2       2002      195753    499994  225820.0
3       2003      202592    512491  228350.0
4       2004      210207    525975  232950.0
5       2005      218857    546980  254330.0
6       2006      229982    570583  268600.0
7       2007      237845    590330  284160.0
8       2008      242344    603218  286080.0
9       2009      244823    611341  264010.0
10      2010      246511    617869  255700.0
11      2011      248122    627640  254850.0
12      2012      249887    637514  261410.0
13      2013      253329    649411  269680.0
14      2014      257568    662777  279870.0
15      2015      262587    674874  284950.0
16      2016      267931    691605  296390.0
17      2017      274525    710080  308170.0
18      2018      282300    730426  321520.0