# Data Exploration

### Libraries

In [1]:
import numpy as np
import pandas as pd
import xlrd
import os

In [ ]:
# New Libraries

import plotly
import plotly.express as px

In [ ]:
# # install new library
# !pip install plotly
#!pip install matplotlib
#!pip install seaborn

### Load the pickles into data frames

In [16]:
df_hd = pd.read_pickle('houseAll.pkl')
df_jobs = pd.read_pickle('metroJobs.pkl')
df_pop = pd.read_pickle('metroPop.pkl')
df_hc = pd.read_pickle('metroHouse.pkl')
df_year_base = pd.read_pickle('yearTotals.pkl')
parcelNum = 'R2024320455'

## Stuff

In [10]:
df_hd.head(5)
#df_hd['GROUP'].nunique()
#df_hd.dtypes

,PARCEL,YEAR,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,DWELLINGS,...,GARAGE 1 SQ FT,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Area,Neighborhood
0,R0017650020,2000,0.246,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,476,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
1,R0017650030,2000,0.165,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
2,R0017650040,2000,0.144,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
3,R0017650050,2000,0.211,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,0,NaN,0,NaN,0,155000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
4,R0027000008,2000,0.270,ABBS SUB,3N,2E,21,1937,1992,SFD,...,240,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,CENTRAL BOISE BENCH,BOISE BENCH

In [11]:
#df_hd.dtypes
df_hd['Neighborhood'].unique()

[W BOISE, BOISE BENCH, W BOISE-MERIDIAN, NORTH BOISE, SE BOISE, ..., NE MERIDIAN, SW BOISE, SW BOISE-MERIDIAN, NaN, EAGLE]
Length: 13
Categories (12, object): [W BOISE, BOISE BENCH, W BOISE-MERIDIAN, NORTH BOISE, ..., NE MERIDIAN, SW BOISE, SW BOISE-MERIDIAN, EAGLE]

In [17]:
# Abbreviated dataframe for all of the parcels
short_house = df_hd[['PARCEL','YEAR','Area','Neighborhood','TAV','Sale Price']]
short_house.head()

        PARCEL  YEAR         Area         Neighborhood       TAV  Sale Price
0  R0017650020  2000      W BOISE  NORTH CENTRAL BENCH  158000.0         NaN
1  R0017650030  2000      W BOISE  NORTH CENTRAL BENCH  165800.0         NaN
2  R0017650040  2000      W BOISE  NORTH CENTRAL BENCH  165800.0         NaN
3  R0017650050  2000      W BOISE  NORTH CENTRAL BENCH  155000.0         NaN
4  R0027000008  2000  BOISE BENCH  CENTRAL BOISE BENCH  129100.0         NaN

In [19]:
#short_house.loc[short_house['PARCEL'] == parcelNum]
myN = short_house[short_house['Neighborhood'] == 'CENTRAL BOISE BENCH']

### Searching code

In [ ]:

#df_hd.loc[df_hd['GROUP'] == 'ELIZABETH PL']

#tBlock = short_house.loc[(short_house['TOWNSHIP'] == '3N')&(short_house['RANGE']=='2E')&(short_house['SECTION']==16)]

#tList = tBlock[tBlock['GROUP'].str.contains(r'GLEN)]
#tList.GROUP.unique()

In [ ]:
mySec = short_house.loc[(short_house['TOWNSHIP'] == '3N')&(short_house['RANGE'] == '2E')&(short_house['SECTION'] == 21)]

mySec.head(5)

In [ ]:
mySec.shape
#df_hd.SECTION.unique()

In [ ]:
my_block = short_house.loc[(short_house['TOWNSHIP'] == '3N')&(short_house['RANGE']=='2E')&(short_house['SECTION']==21)]
my_block = my_block.loc[my_block['TAV'] != 0]
my_block.head(5)

# Fixing the data for graphing and analysis

In [ ]:
from scipy import stats
import numpy as np

In [ ]:
df_yr_19 = mySec.loc[mySec['YEAR'] == 2019]
df_yr_19p = df_yr_19.drop(['GROUP','Sub','TOWNSHIP','RANGE','SECTION','YEAR'], axis = 1)
spl19 = df_yr_19.TAV
#spl19.head(5)
df_yr_19p.dtypes

In [ ]:
# z = np.abs(stats.zscore(df_yr_19p.TAV))
# print(z)

df_yr_19['z-Score']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

fig
ax.scatter(df_yr_19['TAV'],df_yr_19['Sub'])

# Graph Stuff

In [ ]:
import plotly
import plotly.express as px

fig1 = px.box(mySec, x='YEAR', y = 'TAV')
fig1.show()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data =go.Scatter(
        x = mySec['YEAR'],
        y = mySec['TAV']))

fig.show()

### Look into z-scores for trimming the outliers
https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba