## Libraries

In [1]:
import numpy as np
import pandas as pd
import xlrd
import os

In [2]:
import sys
np.set_printoptions(threshold=np.inf)

## Mount Google Drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
#os.listdir("/content/drive/My Drive/Colab Notebooks")

In [ ]:
os.listdir(".")

In [ ]:
housePath = "/content/drive/My Drive/Colab Notebooks/house_prices.xlsx"

# Load excel data for House Prices

In [ ]:
# #wb = xlrd.open_workbook(housePath)
# #data = pd.read_excel(housePath)
# xl = pd.ExcelFile(housePath)

### Extract sheets, concat sheets, and pickle them

In [ ]:
# df00 = xl.parse("2000")
# df01 = xl.parse("2001")
# df02 = xl.parse("2002")
# df03 = xl.parse("2003")
# df04 = xl.parse("2004")
# df05 = xl.parse("2005")
# df06 = xl.parse("2006")
# df07 = xl.parse("2007")
# df08 = xl.parse("2008")
# df09 = xl.parse("2009")
# df10 = xl.parse("2010")
# df11 = xl.parse("2011")
# df12 = xl.parse("2012")
# df13 = xl.parse("2013")
# df14 = xl.parse("2014")
# df15 = xl.parse("2015")
# df16 = xl.parse("2016")
# df17 = xl.parse("2017")
# df18 = xl.parse("2018")
# df19 = xl.parse("2019")

In [ ]:
# df00.to_pickle("df00.pkl")
# df01.to_pickle("df01.pkl")
# df02.to_pickle("df02.pkl")
# df03.to_pickle("df03.pkl")
# df04.to_pickle("df04.pkl")
# df05.to_pickle("df05.pkl")
# df06.to_pickle("df06.pkl")
# df07.to_pickle("df07.pkl")
# df08.to_pickle("df08.pkl")
# df09.to_pickle("df09.pkl")
# df10.to_pickle("df10.pkl")
# df11.to_pickle("df11.pkl")
# df12.to_pickle("df12.pkl")
# df13.to_pickle("df13.pkl")
# df14.to_pickle("df14.pkl")
# df15.to_pickle("df15.pkl")
# df16.to_pickle("df16.pkl")
# df17.to_pickle("df17.pkl")
# df18.to_pickle("df18.pkl")
# df19.to_pickle("df19.pkl")

In [3]:
df00 = pd.read_pickle("./Pickle/df00.pkl")
df01 = pd.read_pickle("./Pickle/df01.pkl")
df02 = pd.read_pickle("./Pickle/df02.pkl")
df03 = pd.read_pickle("./Pickle/df03.pkl")
df04 = pd.read_pickle("./Pickle/df04.pkl")
df05 = pd.read_pickle("./Pickle/df05.pkl")
df06 = pd.read_pickle("./Pickle/df06.pkl")
df07 = pd.read_pickle("./Pickle/df07.pkl")
df08 = pd.read_pickle("./Pickle/df08.pkl")
df09 = pd.read_pickle("./Pickle/df09.pkl")
df10 = pd.read_pickle("./Pickle/df10.pkl")
df11 = pd.read_pickle("./Pickle/df11.pkl")
df12 = pd.read_pickle("./Pickle/df12.pkl")
df13 = pd.read_pickle("./Pickle/df13.pkl")
df14 = pd.read_pickle("./Pickle/df14.pkl")
df15 = pd.read_pickle("./Pickle/df15.pkl")
df16 = pd.read_pickle("./Pickle/df16.pkl")
df17 = pd.read_pickle("./Pickle/df17.pkl")
df18 = pd.read_pickle("./Pickle/df18.pkl")
df19 = pd.read_pickle("./Pickle/df19.pkl")

In [4]:
dfList = [df00,df01,df02,df03,df04,df05,df06,
         df07,df08,df09,df10,df11,df12,df13,
         df14,df15,df16,df17,df18,df19]

rawHouse = pd.concat(dfList)
rawHouse.to_pickle('rawHouse.pkl')

In [ ]:
rawHouse.info()

## Clean house from pickle

In [10]:
house = pd.read_pickle('rawHouse.pkl')

colList = ['PARCEL','GARAGE 1 TYPE','GARAGE 2 TYPE']

house['Age'] = house['YEAR'] - house['YR BUILT']

house['YEAR'] = house['YEAR'].astype(str)
house['YEAR'] = house['YEAR'].astype('datetime64[Y]')


for col in colList:
    house[col] = house[col].astype('category')

house.iloc[:,4:14] = house.iloc[:,4:14].astype('category')

# Remove houses that have TAV = $0 and only single family dwellings
house = house.loc[house['TAV'] != 0]
house = house.loc[house['DWELLINGS'].str.contains('SFD')]

house = house.drop(['SUFFIX', 'DWELLINGS'], axis = 1)


house.to_pickle('house.pkl')
#house.head(5)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1270865 entries, 0 to 73153
Data columns (total 41 columns):
PARCEL                  1270865 non-null category
YEAR                    1270865 non-null datetime64[ns]
ACREAGE                 1270865 non-null float64
GROUP                   1270865 non-null category
TOWNSHIP                1270865 non-null category
RANGE                   1270865 non-null category
SECTION                 1270865 non-null category
YR BUILT                1270865 non-null category
REMODEL YR              1270865 non-null category
DESIGN                  1270865 non-null category
CONSTRUCTION CLASS      1270865 non-null category
MARKET GRADE            1270863 non-null category
BEDROOMS                1270865 non-null int64
BATHROOMS               1270865 non-null float64
GROUND FL SQ FT         1270865 non-null int64
UPPER FL SQ FT          1270865 non-null int64
LOWER SQ FT UNFIN       1270865 non-null int64
LOWER FL SQ FT FIN      1270865 non-null int64
BASEMENT SQ FT UNFIN    1270865 non-null int64
BASEMENT SQ FT FIN      1270865 non-null int64
ATTIC SQ FT UNFIN       1270865 non-null int64
ATTIC SQ FT FIN         1270865 non-null int64
TOTAL SQ FT             1270865 non-null int64
PORCH SQ FT             1270865 non-null int64
PATIO 1 SQ FT           1270865 non-null int64
PATIO 1 CVD             1270865 non-null object
PATIO 2 SQ FT           1270865 non-null int64
PATIO 2 CVD             882952 non-null object
DECK 1 SQ FT            1270865 non-null int64
DECK 1 CVD              1270865 non-null object
DECK 2 SQ FT            1270865 non-null int64
DECK 2 CVD              882952 non-null object
GARAGE 1 SQ FT          1270865 non-null int64
GARAGE 1 TYPE           1167379 non-null category
GARAGE 2 SQ FT          1270865 non-null int64
GARAGE 2 TYPE           59224 non-null category
POOL SQ FT              1270865 non-null int64
TAV                     1270863 non-null float64
Sale Price              1049841 non-null float64
Sale Date               1049841 non-null datetime64[ns]
Age                     1270865 non-null int64
dtypes: category(12), datetime64[ns](2), float64(4), int64(19), object(4)
memory usage: 314.7+ MB

In [11]:
#print(house.dtypes)
#house.head(5)
#house.iloc[15:20,:]
#house.SUFFIX.unique()

In [ ]:
house.DWELLINGS.unique()

## Build Neighborhoods

Code for 1st source of neighborhood data. Being replaced with Group_List.xlsx

In [12]:
 xlG = pd.ExcelFile('./Data/GROUP_LIST.xlsx')
groupList = xlG.parse('GROUP')

groupList.to_pickle('groupList.pkl')
groupList.head()

         GROUP   GEO-ECONOMIC AREA     MLS AREA
0      EMBASSY  NORTHWEST MERIDIAN  NW MERIDIAN
1  CHERRY LANE  NORTHWEST MERIDIAN  NW MERIDIAN
2     3N 1W 11  NORTHWEST MERIDIAN  NW MERIDIAN
3     4N 1W 26  NORTHWEST MERIDIAN  NW MERIDIAN
4   FRITTS SUB  NORTHWEST MERIDIAN  NW MERIDIAN

### Join groupList.pkl to house.pkl, to make houseAll.pkl

In [21]:
groupList = pd.read_pickle('groupList.pkl')
house = pd.read_pickle('house.pkl')

houseAll = pd.merge(house, groupList, on = 'GROUP', how = 'left')

colList = ['GROUP', 'GEO-ECONOMIC AREA', 'MLS AREA']

for col in colList:
    houseAll[col] = houseAll[col].astype('category')
    
houseAll = houseAll[houseAll['YEAR'] != '2019-01-01']    

houseAll = houseAll.rename(columns={'GEO-ECONOMIC AREA' : 'Neighborhood','MLS AREA' : 'Area',
                                    'YEAR' : 'Year', 'TOTAL SQ FT' : 'Total_Sq_Ft',
                                    'YR BUILT' : 'Year_Built', 'BEDROOMS' : 'Bedroom_Count',
                                   'PARCEL' : 'Parcel', 'GROUP' : 'Group', 'BATHROOMS' : 'Bathroom_Count'})

houseAll.to_pickle('houseAll.pkl')
houseAll.head(5)

,Parcel,Year,ACREAGE,Group,TOWNSHIP,RANGE,SECTION,Year_Built,REMODEL YR,DESIGN,...,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Age,Neighborhood,Area
0,R0017650020,2000-01-01,0.246,AARON PARK SUB,3N,1E,1,1998,0,SINGLE_LEVEL,...,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,2,NORTH CENTRAL BENCH,W BOISE
1,R0017650030,2000-01-01,0.165,AARON PARK SUB,3N,1E,1,1999,0,SINGLE_LEVEL,...,DETACHED,0,NaN,0,165800.0,NaN,NaT,1,NORTH CENTRAL BENCH,W BOISE
2,R0017650040,2000-01-01,0.144,AARON PARK SUB,3N,1E,1,1999,0,SINGLE_LEVEL,...,DETACHED,0,NaN,0,165800.0,NaN,NaT,1,NORTH CENTRAL BENCH,W BOISE
3,R0017650050,2000-01-01,0.211,AARON PARK SUB,3N,1E,1,1998,0,SINGLE_LEVEL,...,NaN,0,NaN,0,155000.0,NaN,NaT,2,NORTH CENTRAL BENCH,W BOISE
4,R0027000008,2000-01-01,0.270,ABBS SUB,3N,2E,21,1937,1992,SINGLE_LEVEL,...,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,63,CENTRAL BOISE BENCH,BOISE BENCH

In [22]:
houseAll.tail()

,Parcel,Year,ACREAGE,Group,TOWNSHIP,RANGE,SECTION,Year_Built,REMODEL YR,DESIGN,...,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Age,Neighborhood,Area
1200906,S1503111004,2018-01-01,0.820,2N 2E 03,2N,2E,3,1910,1962,SINGLE_LEVEL,...,DETACHED,0,NaN,0,235900.0,NaN,NaT,108,SOUTH BOISE DESERT,SW BOISE
1200907,S1506231100,2018-01-01,1.110,2N 2E 06,2N,2E,6,1997,0,TWO_STORY,...,ATTACHED,0,NaN,0,356500.0,NaN,NaT,21,SOUTH BOISE DESERT,SW BOISE
1200908,S1506234000,2018-01-01,23.550,2N 2E 06,2N,2E,6,1940,0,SINGLE_LEVEL,...,NaN,0,NaN,0,192100.0,NaN,NaT,78,SOUTH BOISE DESERT,SW BOISE
1200909,S1604449750,2018-01-01,5.001,2N 3E 04,2N,3E,4,2005,0,TWO_STORY,...,ATTACHED,0,NaN,0,480700.0,475000.0,2013-12-31,13,OREGON TRAIL,SE BOISE
1200910,S1618234875,2018-01-01,5.000,2N 3E 18,2N,3E,18,1972,0,OTHER,...,ATTACHED,0,NaN,0,276100.0,500000.0,2016-07-08,46,SOUTH BOISE DESERT,SE BOISE

In [28]:
houseAll = pd.read_pickle('houseAll.pkl')

df = houseAll[['Parcel','Year','Group', 'Neighborhood','Area', 'Age','Bedroom_Count','Bathroom_Count','TAV']]

df['TAV_Ch'] = df.groupby('Parcel')['TAV'].diff()

df.to_pickle('abvHouse.pkl')
df.head(5)

C:\Users\delightb\AppData\Local\Continuum\anaconda3\envs\tensorenviron\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Parcel,Year,Group,Neighborhood,Area,Age,Bedroom_Count,TAV,TAV_Ch
0,R0017650020,2000-01-01,AARON PARK SUB,NORTH CENTRAL BENCH,W BOISE,2,4,158000.0,NaN
1,R0017650030,2000-01-01,AARON PARK SUB,NORTH CENTRAL BENCH,W BOISE,1,4,165800.0,NaN
2,R0017650040,2000-01-01,AARON PARK SUB,NORTH CENTRAL BENCH,W BOISE,1,4,165800.0,NaN
3,R0017650050,2000-01-01,AARON PARK SUB,NORTH CENTRAL BENCH,W BOISE,2,4,155000.0,NaN
4,R0027000008,2000-01-01,ABBS SUB,CENTRAL BOISE BENCH,BOISE BENCH,63,1,129100.0,NaN