# Raw Data Prep

## Libraries

In [2]:
import numpy as np
import pandas as pd
import xlrd
import os

## Mount Google Drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
#os.listdir("/content/drive/My Drive/Colab Notebooks")

In [ ]:
os.listdir(".")

In [ ]:
housePath = "/content/drive/My Drive/Colab Notebooks/house_prices.xlsx"

# Load excel data for House Prices

In [ ]:
# #wb = xlrd.open_workbook(housePath)
# #data = pd.read_excel(housePath)
# xl = pd.ExcelFile(housePath)

### Extract sheets, concat sheets, and pickle them

In [ ]:
# df00 = xl.parse("2000")
# df01 = xl.parse("2001")
# df02 = xl.parse("2002")
# df03 = xl.parse("2003")
# df04 = xl.parse("2004")
# df05 = xl.parse("2005")
# df06 = xl.parse("2006")
# df07 = xl.parse("2007")
# df08 = xl.parse("2008")
# df09 = xl.parse("2009")
# df10 = xl.parse("2010")
# df11 = xl.parse("2011")
# df12 = xl.parse("2012")
# df13 = xl.parse("2013")
# df14 = xl.parse("2014")
# df15 = xl.parse("2015")
# df16 = xl.parse("2016")
# df17 = xl.parse("2017")
# df18 = xl.parse("2018")
# df19 = xl.parse("2019")

In [ ]:
# df00.to_pickle("df00.pkl")
# df01.to_pickle("df01.pkl")
# df02.to_pickle("df02.pkl")
# df03.to_pickle("df03.pkl")
# df04.to_pickle("df04.pkl")
# df05.to_pickle("df05.pkl")
# df06.to_pickle("df06.pkl")
# df07.to_pickle("df07.pkl")
# df08.to_pickle("df08.pkl")
# df09.to_pickle("df09.pkl")
# df10.to_pickle("df10.pkl")
# df11.to_pickle("df11.pkl")
# df12.to_pickle("df12.pkl")
# df13.to_pickle("df13.pkl")
# df14.to_pickle("df14.pkl")
# df15.to_pickle("df15.pkl")
# df16.to_pickle("df16.pkl")
# df17.to_pickle("df17.pkl")
# df18.to_pickle("df18.pkl")
# df19.to_pickle("df19.pkl")

In [3]:
df00 = pd.read_pickle("./Pickle/df00.pkl")
df01 = pd.read_pickle("./Pickle/df01.pkl")
df02 = pd.read_pickle("./Pickle/df02.pkl")
df03 = pd.read_pickle("./Pickle/df03.pkl")
df04 = pd.read_pickle("./Pickle/df04.pkl")
df05 = pd.read_pickle("./Pickle/df05.pkl")
df06 = pd.read_pickle("./Pickle/df06.pkl")
df07 = pd.read_pickle("./Pickle/df07.pkl")
df08 = pd.read_pickle("./Pickle/df08.pkl")
df09 = pd.read_pickle("./Pickle/df09.pkl")
df10 = pd.read_pickle("./Pickle/df10.pkl")
df11 = pd.read_pickle("./Pickle/df11.pkl")
df12 = pd.read_pickle("./Pickle/df12.pkl")
df13 = pd.read_pickle("./Pickle/df13.pkl")
df14 = pd.read_pickle("./Pickle/df14.pkl")
df15 = pd.read_pickle("./Pickle/df15.pkl")
df16 = pd.read_pickle("./Pickle/df16.pkl")
df17 = pd.read_pickle("./Pickle/df17.pkl")
df18 = pd.read_pickle("./Pickle/df18.pkl")
df19 = pd.read_pickle("./Pickle/df19.pkl")

In [4]:
dfList = [df00,df01,df02,df03,df04,df05,df06,
         df07,df08,df09,df10,df11,df12,df13,
         df14,df15,df16,df17,df18,df19]

house = pd.concat(dfList)
house.to_pickle('house.pkl')

## Clean house from pickle

In [5]:
house = pd.read_pickle('house.pkl')

# Clean up groups to be joined with neighKey
regList = [' SUB\s*', ' ADD\s*', '\s*TO BOISE',' AMD\s*', ' TO BOISE', '\s*NO\s\d\d']
house['Sub'] = house['GROUP'].replace(regList,'', regex = True)

# Remove houses that have TAV = $0
house = house.loc[house['TAV'] != 0]

house.to_pickle('house.pkl')
house.head()

,PARCEL,SUFFIX,YEAR,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,...,DECK 2 CVD,GARAGE 1 SQ FT,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Sub
0,R0017650020,NaN,2000,0.246,AARON PARK SUB,3N,1E,1,1998,0,...,NaN,476,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,AARON PARK
1,R0017650030,NaN,2000,0.165,AARON PARK SUB,3N,1E,1,1999,0,...,NaN,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,AARON PARK
2,R0017650040,NaN,2000,0.144,AARON PARK SUB,3N,1E,1,1999,0,...,NaN,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,AARON PARK
3,R0017650050,NaN,2000,0.211,AARON PARK SUB,3N,1E,1,1998,0,...,NaN,0,NaN,0,NaN,0,155000.0,NaN,NaT,AARON PARK
4,R0027000008,NaN,2000,0.270,ABBS SUB,3N,2E,21,1937,1992,...,NaN,240,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,ABBS

In [11]:
my_block = house.loc[(house['TOWNSHIP'] == '3N')&(house['RANGE']=='2E')&(house['SECTION']==21)]
#house.SECTION.unique()
#my_block.SECTION.unique()
my_block.shape

(41725, 43)

## Build Neighborhoods

In [20]:
xlN = pd.ExcelFile('Neighborhoods.xlsx')
northEnd = xlN.parse('NorthEnd')
benchD = xlN.parse('Bench-Depot')
westE = xlN.parse('WestEnd')
neighList = [northEnd, benchD,westE]
neighKey = pd.concat(neighList)
neighKey.to_pickle('neighKey.pkl')

In [18]:
neighKey.dtypes

FID               int64
Area             object
Neighborhood     object
Subdivision      object
Instrument        int64
Subdivis_1        int64
RecordedDa       object
RecorderPa        int64
InitialTax        int64
DeveloperI        int64
EngineerID        int64
GroupNumbe       object
Shape_STAr      float64
Shape_STLe      float64
dtype: object

In [21]:
neighKey = pd.read_pickle('neighKey.pkl')

neighKey = neighKey.iloc[:,1:4]

regList = [' SUB\s*', ' ADD\s*', '\s*TO BOISE',' AMD\s*', ' TO BOISE', '\s*NO\s\d\d']
neighKey['Sub'] = neighKey['Subdivision'].replace(regList,'', regex = True)

neighKey.to_pickle('neighKey.pkl')
neighKey.head(5)

        Area Neighborhood                  Subdivision                     Sub
0  North End    North End       13TH STREET TOWNHOUSES  13TH STREET TOWNHOUSES
1  North End    North End      A R ANDOLA ADD TO BOISE              A R ANDOLA
2  North End    North End  A R ANDOLA ADD TO BOISE AMD              A R ANDOLA
3  North End    North End           ABBIE HAGLER TRACT      ABBIE HAGLER TRACT
4  North End    North End                  ADAMS TRACT             ADAMS TRACT

## Join neighKey.pkl to house.pkl, to make houseAll.pkl

In [28]:
neighKey = pd.read_pickle('neighKey.pkl')
house = pd.read_pickle('house.pkl')

houseAll = pd.merge(house, neighKey, on = 'Sub', how = 'left')
houseAll = houseAll.drop(['Subdivision'],axis = 1)

houseAll.to_pickle('houseAll.pkl')
houseAll.head(5)

,PARCEL,SUFFIX,YEAR,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,...,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Sub,Area,Neighborhood
0,R0017650020,NaN,2000,0.246,AARON PARK SUB,3N,1E,1,1998,0,...,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,AARON PARK,NaN,NaN
1,R0017650030,NaN,2000,0.165,AARON PARK SUB,3N,1E,1,1999,0,...,DETACHED,0,NaN,0,165800.0,NaN,NaT,AARON PARK,NaN,NaN
2,R0017650040,NaN,2000,0.144,AARON PARK SUB,3N,1E,1,1999,0,...,DETACHED,0,NaN,0,165800.0,NaN,NaT,AARON PARK,NaN,NaN
3,R0017650050,NaN,2000,0.211,AARON PARK SUB,3N,1E,1,1998,0,...,NaN,0,NaN,0,155000.0,NaN,NaT,AARON PARK,NaN,NaN
4,R0027000008,NaN,2000,0.270,ABBS SUB,3N,2E,21,1937,1992,...,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,ABBS,NaN,NaN

In [29]:
houseAll.shape

(1357249, 45)

### Function to make Lists

In [ ]:
yearList = ["2000","2001","2002","2003","2004","2005",
         "2006","2007","2008","2009","2010","2011",
         "2012","2013","2014","2015","2016","2017",
         "2018","2019"]
def stringList(yearList,begin,end):
  tempList = []
  for year in yearList:
    tempList.append(begin+year+end)
  return tempList


pklList = stringList(yearList,"df",".pkl")

In [ ]:
yearList[0]

# Raw Jobs Data into dataframe

In [ ]:
#xl2 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/boise_msa_jobs_2000_to_2018.xlsx")
xl2 = pd.ExcelFile("boise_msa_jobs_2000_to_2018.xlsx")
rawJobs = xl2.parse("raw")
rawJobs.to_pickle("rawJobs.pkl")

### From rawJobs.pkl to metro_jobs from pickle

In [ ]:
# open the pickle and turn it into a dataframe
rawJobs = pd.read_pickle("rawJobs.pkl")
metroJobs = rawJobs.copy()

# Splitting Strings
metroJobs['Occ_Cat_Code'], metroJobs['Occ_Sub_Cat_Code'] = metroJobs['occ_code'].str.split('-',1).str


# Assigning New Values
metroJobs.loc[metroJobs.group != 'major','group'] = 0
metroJobs.loc[metroJobs.group == 'major','group'] = 1

# Assigning New Column Names
metroJobs = metroJobs.rename(columns ={'occ_titl': 'Occ_Title', 'group':'Is_Cat_Title',
                                        'tot_emp': 'Emp_Count', 'h_mean':'Hr_Wage_Mean',
                                        'a_mean':'An_Wage_Mean', 'h_median': 'Hr_Median',
                                        'a_median':'An_Median','year':'Year'})

# Assigning New Data Types
float_list = ['Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']

# Cleaning Column Strings for Data Typing
metroJobs[float_list] = metroJobs[float_list].replace('\W','',regex=True)

# Assigning new Data Types
#         need to use floats becuase int cannot handle missing
metroJobs = metroJobs.astype({'Is_Cat_Title': 'bool', 'Year':'category',
                               'Occ_Cat_Code':'category','Occ_Sub_Cat_Code': 'category'})

metroJobs[float_list] = metroJobs[float_list].apply(pd.to_numeric, errors = 'coerce')


# Dropped Columns
metroJobs = metroJobs.drop(['prim_state','area','area_name','occ_code',
                              'emp_prse','mean_prse','h_wpct10','h_wpct25',
                             'h_wpct75','h_wpct90','a_wpct10','a_wpct25',
                             'a_wpct75','a_wpct90'], axis = 1)

# Assigning New Order to the Columns
metroJobs = metroJobs[['Year','Occ_Cat_Code','Occ_Sub_Cat_Code','Occ_Title','Is_Cat_Title',
                        'Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']]

metroJobs.to_pickle('metroJobs.pkl')
metroJobs.head(5)

In [ ]:
metroJobs.dtypes

# Raw Population to dataframe

In [ ]:
# xl3 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2000_to_2010.xlsx")
# xl4 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2010_to_2018.xlsx")
 xl3 = pd.ExcelFile("idaho_county_population_2000_to_2010.xlsx")
 xl4 = pd.ExcelFile("idaho_county_population_2010_to_2018.xlsx")

In [ ]:
dfpop1 = xl3.parse("main")
dfpop1.to_pickle('rawPop1.pkl')
dfpop2 = xl4.parse("main")
dfpop2.to_pickle('rawPop2.pkl')

In [ ]:
#dfpop1.head()

### This code to clean and prep population 00-10 from pickle

In [ ]:
rawPop1 = pd.read_pickle('rawPop1.pkl')
temp1 = rawPop1.copy()
temp1 = temp1.iloc[2:48]
temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp = temp1['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)']
temp1 = temp1.drop(['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp1 = temp1.astype(int)
temp1.columns = temp1.iloc[0]
temp1 = temp1.iloc[2:]
temp1['County'] = cTemp
pop1 = temp1.copy()
pop1.head(5)

### This code to clean and prep population 10-18 from pickle

In [ ]:
rawPop2 = pd.read_pickle('rawPop2.pkl')
temp2 = rawPop2.copy()
temp2 = temp2.replace(['Population Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp2.columns = temp2.iloc[0]
#temp2 = temp_df.iloc[2:]
cT2 = temp2['Geography']
temp2 = temp2.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp2 = temp2.astype(int)
temp2['County'] = cT2
temp2 = temp2.iloc[1:]
temp2 = temp2.replace('\s','', regex = True)

pop2 = temp2.copy()
pop2.head(5)

### Merge the cleaned data frames for the 00-09 pop and 10-18 pop and pickle the result (totalPop)

In [ ]:
totalPop = pd.merge(pop2,pop1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalPop = totalPop[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]


totalPop.to_pickle('totalPop.pkl')
totalPop.head(5)

In [ ]:
totalPop = pd.read_pickle('totalPop.pkl')
#totalPop

### From totalPop.pkl to metroPop, then pickle

In [ ]:
totalPop = pd.read_pickle('totalPop.pkl')
totalPop = totalPop.iloc[[0,7,13,22,36],:]

temp3 = totalPop.copy()
temp3 = temp3.T
temp3.columns = temp3.iloc[0]
temp3 = temp3.iloc[1:]
temp3 = temp3.reset_index()
temp3 = temp3.rename(columns={'index':'Year'})

# Add the columns together for a total population
temp3['TotalPop'] = temp3['Ada']+temp3['Boise']+temp3['Canyon']+temp3['Gem']+temp3['Owyhee']
metroPop = temp3.copy()
pop_year_totals = metroPop.drop(columns=['Ada','Boise','Canyon','Gem','Owyhee'])

metroPop = metroPop.astype('int')
metroPop = metroPop.astype({'Year': 'category'})

metroPop.to_pickle('metroPop.pkl')
metroPop.head(5)

In [ ]:
metroPop = pd.read_pickle('metroPop.pkl')
metroPop.dtypes

## Load House excel files and pickle

In [ ]:
 xl5 = pd.ExcelFile("idaho_housing_unit_count_2000_to_2010.xlsx")
 xl6 = pd.ExcelFile("idaho_housing_unit_count_2010_to_2018.xlsx")

In [ ]:
dfH1 = xl5.parse("main")
dfH1.to_pickle('rawHouse1.pkl') 
dfH2 = xl6.parse("main")
dfH2.to_pickle('rawHouse2.pkl')
#dfH1.head(5)

### From rawHouse1.pkl clean

In [ ]:
temp5 = pd.read_pickle('rawHouse1.pkl')
temp5 = temp5.iloc[2:48]
# temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp5 = temp5['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)']
temp5 = temp5.drop(['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp5 = temp5.astype(int)
temp5.columns = temp5.iloc[0]
temp5 = temp5.iloc[2:]
temp5['County'] = cTemp

house1 = temp5.copy()
house1.head(5)

### From rawHouse2.pkl clean

In [ ]:
temp6 = pd.read_pickle('rawHouse2.pkl')
temp6 = temp6.replace(['Housing Unit Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp6.columns = temp6.iloc[0]

cT6 = temp6['Geography']
temp6 = temp6.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp6 = temp6.astype(int)
temp6['County'] = cT6
temp6 = temp6.iloc[1:]
temp6 = temp6.replace('\s','', regex = True)

house2 = temp6.copy()
house2.head(5)

### Combine cleaned dataframes to merge into totalHouse and pickle

In [ ]:
totalHouse = pd.merge(house2,house1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalHouse = totalHouse[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]
# # ,"2005",
# #          "2006","2007","2008","2009","2010","2011",
# #          "2012","2013","2014","2015","2016","2017",
# #          "2018"]]
totalHouse.to_pickle('totalHouse.pkl')
totalHouse.head(5)

In [ ]:
totalHouse = pd.read_pickle('totalHouse.pkl')
#totalHouse

### From totalHouse.pkl make metroHouse and pickle it

In [ ]:
metroHouseT = totalHouse.copy()
metroHouseT = metroHouseT.iloc[[0,7,13,22,36],:]

tempH = metroHouseT.copy()
tempH = tempH.T
tempH.columns = tempH.iloc[0]
tempH = tempH.iloc[1:]
tempH = tempH.reset_index()
tempH = tempH.rename(columns={'index':'Year'})

# Add columns together for a total house count
tempH['TotalHouse'] = tempH['Ada']+tempH['Boise']+tempH['Canyon']+tempH['Gem']+tempH['Owyhee']

metroHouse = tempH.copy()
metroHouse = metroHouse.astype('int')
metroHouse = metroHouse.astype({'Year': 'category'})


metroHouse.to_pickle('metroHouse.pkl')
metroHouse

In [ ]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroHouse.dtypes

## Create yearTotals from metroHouse.pkl and metroPop.pkl

In [ ]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroPop = pd.read_pickle('metroPop.pkl')
yearTotals = metroHouse.copy()
yearTotals = yearTotals.drop(['Ada','Boise','Gem','Canyon','Owyhee'],axis =1)
yearTotals['TotalPop'] = metroPop['TotalPop']
yearTotals.to_pickle('yearTotals.pkl')
yearTotals