<a href="https://colab.research.google.com/github/b-a-delight/Senior-Project-Report/blob/master/Raw_Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Raw Data Prep

## Libraries

In [0]:
import numpy as np
import pandas as pd
import xlrd
import os

## Mount Google Drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [107]:
os.listdir("/content/drive/My Drive/Colab Notebooks")

['house_prices.xlsx',
 'Untitled0.ipynb',
 '.ipynb_checkpoints',
 'boise_msa_jobs_2000_to_2018.xlsx',
 'idaho_county_population_2010_to_2018.xlsx',
 'idaho_county_population_2000_to_2010.xlsx']

In [0]:
os.listdir(".")

['.config',
 'df04.pkl',
 'test2.pkl',
 'df14.pkl',
 'boise_msa_jobs_2000_to_2018.xlsx',
 'df11.pkl',
 'df19.pkl',
 'df17.pkl',
 'df15.pkl',
 'houseAll.pkl',
 'df18.pkl',
 'df00.pkl',
 'df13.pkl',
 'drive',
 'df09.pkl',
 'df10.pkl',
 'df01.pkl',
 'df06.pkl',
 'df02.pkl',
 'df05.pkl',
 'df16.pkl',
 'df03.pkl',
 'df12.pkl',
 'df07.pkl',
 'test.pkl',
 'df08.pkl',
 'sample_data']

In [0]:
xl2 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/boise_msa_jobs_2000_to_2018.xlsx")

In [0]:
housePath = "/content/drive/My Drive/Colab Notebooks/house_prices.xlsx"

# Load excel data for House Prices

In [0]:
#wb = xlrd.open_workbook(housePath)
#data = pd.read_excel(housePath)
xl = pd.ExcelFile(housePath)

### Extract sheets, concat sheets, and pickle them

In [0]:
df00 = xl.parse("2000")
df01 = xl.parse("2001")
df02 = xl.parse("2002")
df03 = xl.parse("2003")
df04 = xl.parse("2004")
df05 = xl.parse("2005")
df06 = xl.parse("2006")
df07 = xl.parse("2007")
df08 = xl.parse("2008")
df09 = xl.parse("2009")
df10 = xl.parse("2010")
df11 = xl.parse("2011")
df12 = xl.parse("2012")
df13 = xl.parse("2013")
df14 = xl.parse("2014")
df15 = xl.parse("2015")
df16 = xl.parse("2016")
df17 = xl.parse("2017")
df18 = xl.parse("2018")
df19 = xl.parse("2019")

In [0]:
df00.to_pickle("df00.pkl")
df01.to_pickle("df01.pkl")
df02.to_pickle("df02.pkl")
df03.to_pickle("df03.pkl")
df04.to_pickle("df04.pkl")
df05.to_pickle("df05.pkl")
df06.to_pickle("df06.pkl")
df07.to_pickle("df07.pkl")
df08.to_pickle("df08.pkl")
df09.to_pickle("df09.pkl")
df10.to_pickle("df10.pkl")
df11.to_pickle("df11.pkl")
df12.to_pickle("df12.pkl")
df13.to_pickle("df13.pkl")
df14.to_pickle("df14.pkl")
df15.to_pickle("df15.pkl")
df16.to_pickle("df16.pkl")
df17.to_pickle("df17.pkl")
df18.to_pickle("df18.pkl")
df19.to_pickle("df19.pkl")

In [0]:
houseAll = pd.concat(dfList)
houseAll.to_pickle("houseAll.pkl")

In [0]:
houseAll = pd.read_pickle("houseAll.pkl")
houseAll.head()

        PARCEL SUFFIX  YEAR  ...       TAV Sale Price Sale Date
0  R0017650020    NaN  2000  ...  158000.0        NaN       NaT
1  R0017650030    NaN  2000  ...  165800.0        NaN       NaT
2  R0017650040    NaN  2000  ...  165800.0        NaN       NaT
3  R0017650050    NaN  2000  ...  155000.0        NaN       NaT
4  R0027000008    NaN  2000  ...  129100.0        NaN       NaT

[5 rows x 42 columns]

### Function to make Lists

In [0]:
yearList = ["2000","2001","2002","2003","2004","2005",
         "2006","2007","2008","2009","2010","2011",
         "2012","2013","2014","2015","2016","2017",
         "2018","2019"]
def stringList(yearList,begin,end):
  tempList = []
  for year in yearList:
    tempList.append(begin+year+end)
  return tempList

dfList = [df00,df01,df02,df03,df04,df05,df06,
         df07,df08,df09,df10,df11,df12,df13,
         df14,df15,df16,df17,df18,df19]
pklList = stringList(yearList,"df",".pkl")

In [0]:
yearList[0]

'2000'

# Raw Jobs Data into dataframe

In [0]:
df_jobs = xl2.parse("raw")
df_jobs.to_pickle("df_jobs.pkl")

In [86]:
df_jobs.head()

  prim_state  area           area_name  ... a_wpct75 a_wpct90  year
0         ID  1080  Boise City, ID MSA  ...    78880   110180  2000
1         ID  1080  Boise City, ID MSA  ...        #        #  2000
2         ID  1080  Boise City, ID MSA  ...    72620   103020  2000
3         ID  1080  Boise City, ID MSA  ...    47670    58470  2000
4         ID  1080  Boise City, ID MSA  ...    89250   114490  2000

[5 rows x 22 columns]

# Raw Population to dataframe

In [0]:
xl3 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2000_to_2010.xlsx")
xl4 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2010_to_2018.xlsx")

In [0]:
dfpop1 = xl3.parse("main")
dfpop2 = xl4.parse("main")

## dfpop1 need to have 3 rows deleted and then the top row is column names

In [132]:
temp_df = dfpop1.copy()
temp_df = temp_df.iloc[2:]
temp_df.columns = temp_df.iloc[0]
temp_df = temp_df.iloc[2:]

pop1 = temp_df.copy()
pop1.head()

2             NaN     NaN     2000.0  ...    2009.0  NaN     NaN
4        .Ada County  300953  303328  ...  388577.0  392365  393531
5      .Adams County    3483    3477  ...    4000.0    3976    3953
6    .Bannock County   75562   75728  ...   81994.0   82839   83071
7  .Bear Lake County    6418    6424  ...    6014.0    5986    5971
8    .Benewah County    9169    9186  ...    9286.0    9285    9285

[5 rows x 14 columns]

In [136]:
temp_df = dfpop1.copy()
temp_df = temp_df.iloc[2:]
temp_df.columns = temp_df.iloc[0]
temp_df = temp_df.iloc[2:]
temp_df.head()

2             NaN     NaN     2000.0  ...    2009.0  NaN     NaN
4        .Ada County  300953  303328  ...  388577.0  392365  393531
5      .Adams County    3483    3477  ...    4000.0    3976    3953
6    .Bannock County   75562   75728  ...   81994.0   82839   83071
7  .Bear Lake County    6418    6424  ...    6014.0    5986    5971
8    .Benewah County    9169    9186  ...    9286.0    9285    9285

[5 rows x 14 columns]

In [127]:
test1.columns = test1.iloc[0]
test1.head()

2           NaN      NaN      2000.0  ...     2009.0   NaN      NaN
2              NaN      NaN     2000  ...     2009.0      NaN      NaN
3            Idaho  1293957  1299430  ...  1554439.0  1567582  1571450
4      .Ada County   300953   303328  ...   388577.0   392365   393531
5    .Adams County     3483     3477  ...     4000.0     3976     3953
6  .Bannock County    75562    75728  ...    81994.0    82839    83071

[5 rows x 14 columns]

In [128]:
test1 = test1.iloc[2:]
test1.head()

2             NaN     NaN     2000.0  ...    2009.0  NaN     NaN
4        .Ada County  300953  303328  ...  388577.0  392365  393531
5      .Adams County    3483    3477  ...    4000.0    3976    3953
6    .Bannock County   75562   75728  ...   81994.0   82839   83071
7  .Bear Lake County    6418    6424  ...    6014.0    5986    5971
8    .Benewah County    9169    9186  ...    9286.0    9285    9285

[5 rows x 14 columns]