# Raw Data Prep

## Libraries

In [2]:
import numpy as np
import pandas as pd
import xlrd
import os

## Mount Google Drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
#os.listdir("/content/drive/My Drive/Colab Notebooks")

In [ ]:
os.listdir(".")

In [ ]:
housePath = "/content/drive/My Drive/Colab Notebooks/house_prices.xlsx"

# Load excel data for House Prices

In [ ]:
# #wb = xlrd.open_workbook(housePath)
# #data = pd.read_excel(housePath)
# xl = pd.ExcelFile(housePath)

### Extract sheets, concat sheets, and pickle them

In [ ]:
# df00 = xl.parse("2000")
# df01 = xl.parse("2001")
# df02 = xl.parse("2002")
# df03 = xl.parse("2003")
# df04 = xl.parse("2004")
# df05 = xl.parse("2005")
# df06 = xl.parse("2006")
# df07 = xl.parse("2007")
# df08 = xl.parse("2008")
# df09 = xl.parse("2009")
# df10 = xl.parse("2010")
# df11 = xl.parse("2011")
# df12 = xl.parse("2012")
# df13 = xl.parse("2013")
# df14 = xl.parse("2014")
# df15 = xl.parse("2015")
# df16 = xl.parse("2016")
# df17 = xl.parse("2017")
# df18 = xl.parse("2018")
# df19 = xl.parse("2019")

In [ ]:
# df00.to_pickle("df00.pkl")
# df01.to_pickle("df01.pkl")
# df02.to_pickle("df02.pkl")
# df03.to_pickle("df03.pkl")
# df04.to_pickle("df04.pkl")
# df05.to_pickle("df05.pkl")
# df06.to_pickle("df06.pkl")
# df07.to_pickle("df07.pkl")
# df08.to_pickle("df08.pkl")
# df09.to_pickle("df09.pkl")
# df10.to_pickle("df10.pkl")
# df11.to_pickle("df11.pkl")
# df12.to_pickle("df12.pkl")
# df13.to_pickle("df13.pkl")
# df14.to_pickle("df14.pkl")
# df15.to_pickle("df15.pkl")
# df16.to_pickle("df16.pkl")
# df17.to_pickle("df17.pkl")
# df18.to_pickle("df18.pkl")
# df19.to_pickle("df19.pkl")

In [3]:
df00 = pd.read_pickle("./Pickle/df00.pkl")
df01 = pd.read_pickle("./Pickle/df01.pkl")
df02 = pd.read_pickle("./Pickle/df02.pkl")
df03 = pd.read_pickle("./Pickle/df03.pkl")
df04 = pd.read_pickle("./Pickle/df04.pkl")
df05 = pd.read_pickle("./Pickle/df05.pkl")
df06 = pd.read_pickle("./Pickle/df06.pkl")
df07 = pd.read_pickle("./Pickle/df07.pkl")
df08 = pd.read_pickle("./Pickle/df08.pkl")
df09 = pd.read_pickle("./Pickle/df09.pkl")
df10 = pd.read_pickle("./Pickle/df10.pkl")
df11 = pd.read_pickle("./Pickle/df11.pkl")
df12 = pd.read_pickle("./Pickle/df12.pkl")
df13 = pd.read_pickle("./Pickle/df13.pkl")
df14 = pd.read_pickle("./Pickle/df14.pkl")
df15 = pd.read_pickle("./Pickle/df15.pkl")
df16 = pd.read_pickle("./Pickle/df16.pkl")
df17 = pd.read_pickle("./Pickle/df17.pkl")
df18 = pd.read_pickle("./Pickle/df18.pkl")
df19 = pd.read_pickle("./Pickle/df19.pkl")

In [46]:
dfList = [df00,df01,df02,df03,df04,df05,df06,
         df07,df08,df09,df10,df11,df12,df13,
         df14,df15,df16,df17,df18,df19]

rawHouse = pd.concat(dfList)
rawHouse.to_pickle('rawHouse.pkl')

## Clean house from pickle

In [47]:
house = pd.read_pickle('rawHouse.pkl')

# metroJobs = metroJobs.astype({'Is_Cat_Title': 'bool', 'Year':'category',
#                                'Occ_Cat_Code':'category','Occ_Sub_Cat_Code': 'category'})

# house = house.astype({['YEAR','GROUP']: 'category'})

colList = ['PARCEL', 'YEAR', 'GARAGE 1 TYPE','GARAGE 2 TYPE']

for col in colList:
    house[col] = house[col].astype('category')

house.iloc[:,4:14] = house.iloc[:,4:14].astype('category')

house = house.drop(['SUFFIX'], axis = 1)

# Remove houses that have TAV = $0 and only single family dwellings
house = house.loc[house['TAV'] != 0]
house = house.loc[house['DWELLINGS'].str.contains('SFD')]

house.to_pickle('house.pkl')
#house.head(5)
#house.info()

In [44]:
#house.dtypes
#house.head(5)
#house.iloc[15:20,:]
#house.SUFFIX.unique()

,PARCEL,YEAR,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,DWELLINGS,...,DECK 2 SQ FT,DECK 2 CVD,GARAGE 1 SQ FT,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date
15,R0027000080,2000,0.69,ABBS SUB,3N,2E,21,1938,0,SFD,...,0,NaN,762,DETACHED,1440,DETACHED,0,152100.0,NaN,NaT
16,R0027000080,2000,0.69,ABBS SUB,3N,2E,21,1938,0,SFD,...,0,NaN,240,DETACHED,0,NaN,0,152100.0,NaN,NaT
17,R0027000085,2000,0.50,ABBS SUB,3N,2E,21,1950,0,SFD,...,0,NaN,240,ATTACHED,0,NaN,0,108800.0,NaN,NaT
18,R0027000085,2000,0.50,ABBS SUB,3N,2E,21,1950,0,SFD,...,0,NaN,0,NaN,0,NaN,0,108800.0,NaN,NaT
19,R0027000105,2000,0.19,ABBS SUB,3N,2E,21,1950,0,SFD,...,0,NaN,440,DETACHED,0,NaN,0,82100.0,NaN,NaT

In [31]:
house.DWELLINGS.unique()

array(['SFD'], dtype=object)

## Build Neighborhoods

Code for 1st source of neighborhood data. Being replaced with Group_List.xlsx

In [ ]:
# old neighborhood data, replaced with spreadsheet from assessor's office

# xlN = pd.ExcelFile('Neighborhoods.xlsx')
# northEnd = xlN.parse('NorthEnd')
# benchD = xlN.parse('Bench-Depot')
# westE = xlN.parse('WestEnd')
# neighList = [northEnd, benchD,westE]
# neighKey = pd.concat(neighList)
# neighKey.to_pickle('neighKey.pkl')

In [ ]:
# neighKey = pd.read_pickle('neighKey.pkl')

# neighKey = neighKey.iloc[:,1:4]

# regList = [' SUB\s*', ' ADD\s*', '\s*TO BOISE',' AMD\s*', ' TO BOISE', '\s*NO\s\d\d']
# neighKey['Sub'] = neighKey['Subdivision'].replace(regList,'', regex = True)

# neighKey.to_pickle('neighKey.pkl')
# neighKey.head(5)

In [50]:
 xlG = pd.ExcelFile('./Data/GROUP_LIST.xlsx')
groupList = xlG.parse('GROUP')

groupList.to_pickle('groupList.pkl')
groupList.head()

         GROUP   GEO-ECONOMIC AREA     MLS AREA
0      EMBASSY  NORTHWEST MERIDIAN  NW MERIDIAN
1  CHERRY LANE  NORTHWEST MERIDIAN  NW MERIDIAN
2     3N 1W 11  NORTHWEST MERIDIAN  NW MERIDIAN
3     4N 1W 26  NORTHWEST MERIDIAN  NW MERIDIAN
4   FRITTS SUB  NORTHWEST MERIDIAN  NW MERIDIAN

## Join neighKey.pkl to house.pkl, to make houseAll.pkl

In [58]:
groupList = pd.read_pickle('groupList.pkl')
house = pd.read_pickle('house.pkl')

houseAll = pd.merge(house, groupList, on = 'GROUP', how = 'left')

colList = ['GROUP', 'GEO-ECONOMIC AREA', 'MLS AREA']

for col in colList:
    houseAll[col] = houseAll[col].astype('category')

houseAll = houseAll.rename(columns={'GEO-ECONOMIC AREA' : 'Neighborhood','MLS AREA' : 'Area'})
    
houseAll.to_pickle('houseAll.pkl')
houseAll.head(5)

,PARCEL,YEAR,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,DWELLINGS,...,GARAGE 1 SQ FT,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Neighborhood,Area
0,R0017650020,2000,0.246,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,476,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
1,R0017650030,2000,0.165,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
2,R0017650040,2000,0.144,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
3,R0017650050,2000,0.211,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,0,NaN,0,NaN,0,155000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
4,R0027000008,2000,0.270,ABBS SUB,3N,2E,21,1937,1992,SFD,...,240,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,CENTRAL BOISE BENCH,BOISE BENCH

In [56]:
houseAll.shape
houseAll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1270865 entries, 0 to 1270864
Data columns (total 43 columns):
PARCEL                  1270865 non-null category
YEAR                    1270865 non-null category
ACREAGE                 1270865 non-null float64
GROUP                   1270865 non-null category
TOWNSHIP                1270865 non-null category
RANGE                   1270865 non-null category
SECTION                 1270865 non-null category
YR BUILT                1270865 non-null category
REMODEL YR              1270865 non-null category
DWELLINGS               1270865 non-null category
DESIGN                  1270865 non-null category
CONSTRUCTION CLASS      1270865 non-null category
MARKET GRADE            1270863 non-null category
BEDROOMS                1270865 non-null int64
BATHROOMS               1270865 non-null float64
GROUND FL SQ FT         1270865 non-null int64
UPPER FL SQ FT          1270865 non-null int64
LOWER SQ FT UNFIN       1270865 non-null int64
LOWER FL SQ FT FIN      1270865 non-null int64
BASEMENT SQ FT UNFIN    1270865 non-null int64
BASEMENT SQ FT FIN      1270865 non-null int64
ATTIC SQ FT UNFIN       1270865 non-null int64
ATTIC SQ FT FIN         1270865 non-null int64
TOTAL SQ FT             1270865 non-null int64
PORCH SQ FT             1270865 non-null int64
PATIO 1 SQ FT           1270865 non-null int64
PATIO 1 CVD             1270865 non-null object
PATIO 2 SQ FT           1270865 non-null int64
PATIO 2 CVD             882952 non-null object
DECK 1 SQ FT            1270865 non-null int64
DECK 1 CVD              1270865 non-null object
DECK 2 SQ FT            1270865 non-null int64
DECK 2 CVD              882952 non-null object
GARAGE 1 SQ FT          1270865 non-null int64
GARAGE 1 TYPE           1167379 non-null category
GARAGE 2 SQ FT          1270865 non-null int64
GARAGE 2 TYPE           59224 non-null category
POOL SQ FT              1270865 non-null int64
TAV                     1270863 non-null float64
Sale Price              1049841 non-null float64
Sale Date               1049841 non-null datetime64[ns]
GEO-ECONOMIC AREA       1269933 non-null category
MLS AREA                1269933 non-null category
dtypes: category(16), datetime64[ns](1), float64(4), int64(18), object(4)
memory usage: 297.6+ MB

In [52]:
house.shape

(1270865, 41)

### Function to make Lists

In [ ]:
yearList = ["2000","2001","2002","2003","2004","2005",
         "2006","2007","2008","2009","2010","2011",
         "2012","2013","2014","2015","2016","2017",
         "2018","2019"]
def stringList(yearList,begin,end):
  tempList = []
  for year in yearList:
    tempList.append(begin+year+end)
  return tempList


pklList = stringList(yearList,"df",".pkl")

In [ ]:
yearList[0]

# Raw Jobs Data into dataframe

In [ ]:
#xl2 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/boise_msa_jobs_2000_to_2018.xlsx")
xl2 = pd.ExcelFile("boise_msa_jobs_2000_to_2018.xlsx")
rawJobs = xl2.parse("raw")
rawJobs.to_pickle("rawJobs.pkl")

### From rawJobs.pkl to metro_jobs from pickle

In [ ]:
# open the pickle and turn it into a dataframe
rawJobs = pd.read_pickle("rawJobs.pkl")
metroJobs = rawJobs.copy()

# Splitting Strings
metroJobs['Occ_Cat_Code'], metroJobs['Occ_Sub_Cat_Code'] = metroJobs['occ_code'].str.split('-',1).str


# Assigning New Values
metroJobs.loc[metroJobs.group != 'major','group'] = 0
metroJobs.loc[metroJobs.group == 'major','group'] = 1

# Assigning New Column Names
metroJobs = metroJobs.rename(columns ={'occ_titl': 'Occ_Title', 'group':'Is_Cat_Title',
                                        'tot_emp': 'Emp_Count', 'h_mean':'Hr_Wage_Mean',
                                        'a_mean':'An_Wage_Mean', 'h_median': 'Hr_Median',
                                        'a_median':'An_Median','year':'Year'})

# Assigning New Data Types
float_list = ['Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']

# Cleaning Column Strings for Data Typing
metroJobs[float_list] = metroJobs[float_list].replace('\W','',regex=True)

# Assigning new Data Types
#         need to use floats becuase int cannot handle missing
metroJobs = metroJobs.astype({'Is_Cat_Title': 'bool', 'Year':'category',
                               'Occ_Cat_Code':'category','Occ_Sub_Cat_Code': 'category'})

metroJobs[float_list] = metroJobs[float_list].apply(pd.to_numeric, errors = 'coerce')


# Dropped Columns
metroJobs = metroJobs.drop(['prim_state','area','area_name','occ_code',
                              'emp_prse','mean_prse','h_wpct10','h_wpct25',
                             'h_wpct75','h_wpct90','a_wpct10','a_wpct25',
                             'a_wpct75','a_wpct90'], axis = 1)

# Assigning New Order to the Columns
metroJobs = metroJobs[['Year','Occ_Cat_Code','Occ_Sub_Cat_Code','Occ_Title','Is_Cat_Title',
                        'Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']]

metroJobs.to_pickle('metroJobs.pkl')
metroJobs.head(5)

In [ ]:
metroJobs.dtypes

# Raw Population to dataframe

In [ ]:
# xl3 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2000_to_2010.xlsx")
# xl4 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2010_to_2018.xlsx")
 xl3 = pd.ExcelFile("idaho_county_population_2000_to_2010.xlsx")
 xl4 = pd.ExcelFile("idaho_county_population_2010_to_2018.xlsx")

In [ ]:
dfpop1 = xl3.parse("main")
dfpop1.to_pickle('rawPop1.pkl')
dfpop2 = xl4.parse("main")
dfpop2.to_pickle('rawPop2.pkl')

In [ ]:
#dfpop1.head()

### This code to clean and prep population 00-10 from pickle

In [ ]:
rawPop1 = pd.read_pickle('rawPop1.pkl')
temp1 = rawPop1.copy()
temp1 = temp1.iloc[2:48]
temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp = temp1['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)']
temp1 = temp1.drop(['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp1 = temp1.astype(int)
temp1.columns = temp1.iloc[0]
temp1 = temp1.iloc[2:]
temp1['County'] = cTemp
pop1 = temp1.copy()
pop1.head(5)

### This code to clean and prep population 10-18 from pickle

In [ ]:
rawPop2 = pd.read_pickle('rawPop2.pkl')
temp2 = rawPop2.copy()
temp2 = temp2.replace(['Population Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp2.columns = temp2.iloc[0]
#temp2 = temp_df.iloc[2:]
cT2 = temp2['Geography']
temp2 = temp2.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp2 = temp2.astype(int)
temp2['County'] = cT2
temp2 = temp2.iloc[1:]
temp2 = temp2.replace('\s','', regex = True)

pop2 = temp2.copy()
pop2.head(5)

### Merge the cleaned data frames for the 00-09 pop and 10-18 pop and pickle the result (totalPop)

In [ ]:
totalPop = pd.merge(pop2,pop1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalPop = totalPop[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]


totalPop.to_pickle('totalPop.pkl')
totalPop.head(5)

In [ ]:
totalPop = pd.read_pickle('totalPop.pkl')
#totalPop

### From totalPop.pkl to metroPop, then pickle

In [ ]:
totalPop = pd.read_pickle('totalPop.pkl')
totalPop = totalPop.iloc[[0,7,13,22,36],:]

temp3 = totalPop.copy()
temp3 = temp3.T
temp3.columns = temp3.iloc[0]
temp3 = temp3.iloc[1:]
temp3 = temp3.reset_index()
temp3 = temp3.rename(columns={'index':'Year'})

# Add the columns together for a total population
temp3['TotalPop'] = temp3['Ada']+temp3['Boise']+temp3['Canyon']+temp3['Gem']+temp3['Owyhee']
metroPop = temp3.copy()
pop_year_totals = metroPop.drop(columns=['Ada','Boise','Canyon','Gem','Owyhee'])

metroPop = metroPop.astype('int')
metroPop = metroPop.astype({'Year': 'category'})

metroPop.to_pickle('metroPop.pkl')
metroPop.head(5)

In [ ]:
metroPop = pd.read_pickle('metroPop.pkl')
metroPop.dtypes

## Load House excel files and pickle

In [ ]:
 xl5 = pd.ExcelFile("idaho_housing_unit_count_2000_to_2010.xlsx")
 xl6 = pd.ExcelFile("idaho_housing_unit_count_2010_to_2018.xlsx")

In [ ]:
dfH1 = xl5.parse("main")
dfH1.to_pickle('rawHouse1.pkl') 
dfH2 = xl6.parse("main")
dfH2.to_pickle('rawHouse2.pkl')
#dfH1.head(5)

### From rawHouse1.pkl clean

In [ ]:
temp5 = pd.read_pickle('rawHouse1.pkl')
temp5 = temp5.iloc[2:48]
# temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp5 = temp5['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)']
temp5 = temp5.drop(['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp5 = temp5.astype(int)
temp5.columns = temp5.iloc[0]
temp5 = temp5.iloc[2:]
temp5['County'] = cTemp

house1 = temp5.copy()
house1.head(5)

### From rawHouse2.pkl clean

In [ ]:
temp6 = pd.read_pickle('rawHouse2.pkl')
temp6 = temp6.replace(['Housing Unit Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp6.columns = temp6.iloc[0]

cT6 = temp6['Geography']
temp6 = temp6.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp6 = temp6.astype(int)
temp6['County'] = cT6
temp6 = temp6.iloc[1:]
temp6 = temp6.replace('\s','', regex = True)

house2 = temp6.copy()
house2.head(5)

### Combine cleaned dataframes to merge into totalHouse and pickle

In [ ]:
totalHouse = pd.merge(house2,house1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalHouse = totalHouse[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]
# # ,"2005",
# #          "2006","2007","2008","2009","2010","2011",
# #          "2012","2013","2014","2015","2016","2017",
# #          "2018"]]
totalHouse.to_pickle('totalHouse.pkl')
totalHouse.head(5)

In [ ]:
totalHouse = pd.read_pickle('totalHouse.pkl')
#totalHouse

### From totalHouse.pkl make metroHouse and pickle it

In [ ]:
metroHouseT = totalHouse.copy()
metroHouseT = metroHouseT.iloc[[0,7,13,22,36],:]

tempH = metroHouseT.copy()
tempH = tempH.T
tempH.columns = tempH.iloc[0]
tempH = tempH.iloc[1:]
tempH = tempH.reset_index()
tempH = tempH.rename(columns={'index':'Year'})

# Add columns together for a total house count
tempH['TotalHouse'] = tempH['Ada']+tempH['Boise']+tempH['Canyon']+tempH['Gem']+tempH['Owyhee']

metroHouse = tempH.copy()
metroHouse = metroHouse.astype('int')
metroHouse = metroHouse.astype({'Year': 'category'})


metroHouse.to_pickle('metroHouse.pkl')
metroHouse

In [ ]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroHouse.dtypes

## Create yearTotals from metroHouse.pkl and metroPop.pkl

In [ ]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroPop = pd.read_pickle('metroPop.pkl')
yearTotals = metroHouse.copy()
yearTotals = yearTotals.drop(['Ada','Boise','Gem','Canyon','Owyhee'],axis =1)
yearTotals['TotalPop'] = metroPop['TotalPop']
yearTotals.to_pickle('yearTotals.pkl')
yearTotals