# Raw Data Prep

## Libraries

In [1]:
import numpy as np
import pandas as pd
import xlrd
import os

In [2]:
import sys
np.set_printoptions(threshold=np.inf)

## Mount Google Drive

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
#os.listdir("/content/drive/My Drive/Colab Notebooks")

In [ ]:
os.listdir(".")

In [ ]:
housePath = "/content/drive/My Drive/Colab Notebooks/house_prices.xlsx"

# Load excel data for House Prices

In [ ]:
# #wb = xlrd.open_workbook(housePath)
# #data = pd.read_excel(housePath)
# xl = pd.ExcelFile(housePath)

### Extract sheets, concat sheets, and pickle them

In [ ]:
# df00 = xl.parse("2000")
# df01 = xl.parse("2001")
# df02 = xl.parse("2002")
# df03 = xl.parse("2003")
# df04 = xl.parse("2004")
# df05 = xl.parse("2005")
# df06 = xl.parse("2006")
# df07 = xl.parse("2007")
# df08 = xl.parse("2008")
# df09 = xl.parse("2009")
# df10 = xl.parse("2010")
# df11 = xl.parse("2011")
# df12 = xl.parse("2012")
# df13 = xl.parse("2013")
# df14 = xl.parse("2014")
# df15 = xl.parse("2015")
# df16 = xl.parse("2016")
# df17 = xl.parse("2017")
# df18 = xl.parse("2018")
# df19 = xl.parse("2019")

In [ ]:
# df00.to_pickle("df00.pkl")
# df01.to_pickle("df01.pkl")
# df02.to_pickle("df02.pkl")
# df03.to_pickle("df03.pkl")
# df04.to_pickle("df04.pkl")
# df05.to_pickle("df05.pkl")
# df06.to_pickle("df06.pkl")
# df07.to_pickle("df07.pkl")
# df08.to_pickle("df08.pkl")
# df09.to_pickle("df09.pkl")
# df10.to_pickle("df10.pkl")
# df11.to_pickle("df11.pkl")
# df12.to_pickle("df12.pkl")
# df13.to_pickle("df13.pkl")
# df14.to_pickle("df14.pkl")
# df15.to_pickle("df15.pkl")
# df16.to_pickle("df16.pkl")
# df17.to_pickle("df17.pkl")
# df18.to_pickle("df18.pkl")
# df19.to_pickle("df19.pkl")

In [3]:
df00 = pd.read_pickle("./Pickle/df00.pkl")
df01 = pd.read_pickle("./Pickle/df01.pkl")
df02 = pd.read_pickle("./Pickle/df02.pkl")
df03 = pd.read_pickle("./Pickle/df03.pkl")
df04 = pd.read_pickle("./Pickle/df04.pkl")
df05 = pd.read_pickle("./Pickle/df05.pkl")
df06 = pd.read_pickle("./Pickle/df06.pkl")
df07 = pd.read_pickle("./Pickle/df07.pkl")
df08 = pd.read_pickle("./Pickle/df08.pkl")
df09 = pd.read_pickle("./Pickle/df09.pkl")
df10 = pd.read_pickle("./Pickle/df10.pkl")
df11 = pd.read_pickle("./Pickle/df11.pkl")
df12 = pd.read_pickle("./Pickle/df12.pkl")
df13 = pd.read_pickle("./Pickle/df13.pkl")
df14 = pd.read_pickle("./Pickle/df14.pkl")
df15 = pd.read_pickle("./Pickle/df15.pkl")
df16 = pd.read_pickle("./Pickle/df16.pkl")
df17 = pd.read_pickle("./Pickle/df17.pkl")
df18 = pd.read_pickle("./Pickle/df18.pkl")
df19 = pd.read_pickle("./Pickle/df19.pkl")

In [4]:
dfList = [df00,df01,df02,df03,df04,df05,df06,
         df07,df08,df09,df10,df11,df12,df13,
         df14,df15,df16,df17,df18,df19]

rawHouse = pd.concat(dfList)
rawHouse.to_pickle('rawHouse.pkl')

## Clean house from pickle

In [5]:
house = pd.read_pickle('rawHouse.pkl')

colList = ['PARCEL', 'YEAR', 'GARAGE 1 TYPE','GARAGE 2 TYPE']

for col in colList:
    house[col] = house[col].astype('category')

house.iloc[:,4:14] = house.iloc[:,4:14].astype('category')

house = house.drop(['SUFFIX'], axis = 1)

# Remove houses that have TAV = $0 and only single family dwellings
house = house.loc[house['TAV'] != 0]
house = house.loc[house['DWELLINGS'].str.contains('SFD')]



house.to_pickle('house.pkl')
#house.head(5)
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1270865 entries, 0 to 73153
Data columns (total 41 columns):
PARCEL                  1270865 non-null category
YEAR                    1270865 non-null category
ACREAGE                 1270865 non-null float64
GROUP                   1270865 non-null category
TOWNSHIP                1270865 non-null category
RANGE                   1270865 non-null category
SECTION                 1270865 non-null category
YR BUILT                1270865 non-null category
REMODEL YR              1270865 non-null category
DWELLINGS               1270865 non-null category
DESIGN                  1270865 non-null category
CONSTRUCTION CLASS      1270865 non-null category
MARKET GRADE            1270863 non-null category
BEDROOMS                1270865 non-null int64
BATHROOMS               1270865 non-null float64
GROUND FL SQ FT         1270865 non-null int64
UPPER FL SQ FT          1270865 non-null int64
LOWER SQ FT UNFIN       1270865 non-null int64
LOWER FL SQ FT FIN      1270865 non-null int64
BASEMENT SQ FT UNFIN    1270865 non-null int64
BASEMENT SQ FT FIN      1270865 non-null int64
ATTIC SQ FT UNFIN       1270865 non-null int64
ATTIC SQ FT FIN         1270865 non-null int64
TOTAL SQ FT             1270865 non-null int64
PORCH SQ FT             1270865 non-null int64
PATIO 1 SQ FT           1270865 non-null int64
PATIO 1 CVD             1270865 non-null object
PATIO 2 SQ FT           1270865 non-null int64
PATIO 2 CVD             882952 non-null object
DECK 1 SQ FT            1270865 non-null int64
DECK 1 CVD              1270865 non-null object
DECK 2 SQ FT            1270865 non-null int64
DECK 2 CVD              882952 non-null object
GARAGE 1 SQ FT          1270865 non-null int64
GARAGE 1 TYPE           1167379 non-null category
GARAGE 2 SQ FT          1270865 non-null int64
GARAGE 2 TYPE           59224 non-null category
POOL SQ FT              1270865 non-null int64
TAV                     1270863 non-null float64
Sale Price              1049841 non-null float64
Sale Date               1049841 non-null datetime64[ns]
dtypes: category(14), datetime64[ns](1), float64(4), int64(18), object(4)
memory usage: 297.7+ MB

In [ ]:
#house.dtypes
#house.head(5)
#house.iloc[15:20,:]
#house.SUFFIX.unique()

In [ ]:
house.DWELLINGS.unique()

## Build Neighborhoods

Code for 1st source of neighborhood data. Being replaced with Group_List.xlsx

In [ ]:
# old neighborhood data, replaced with spreadsheet from assessor's office

# xlN = pd.ExcelFile('Neighborhoods.xlsx')
# northEnd = xlN.parse('NorthEnd')
# benchD = xlN.parse('Bench-Depot')
# westE = xlN.parse('WestEnd')
# neighList = [northEnd, benchD,westE]
# neighKey = pd.concat(neighList)
# neighKey.to_pickle('neighKey.pkl')

# neighKey = pd.read_pickle('neighKey.pkl')

# neighKey = neighKey.iloc[:,1:4]

# regList = [' SUB\s*', ' ADD\s*', '\s*TO BOISE',' AMD\s*', ' TO BOISE', '\s*NO\s\d\d']
# neighKey['Sub'] = neighKey['Subdivision'].replace(regList,'', regex = True)

# neighKey.to_pickle('neighKey.pkl')
# neighKey.head(5)

In [6]:
 xlG = pd.ExcelFile('./Data/GROUP_LIST.xlsx')
groupList = xlG.parse('GROUP')

groupList.to_pickle('groupList.pkl')
groupList.head()

         GROUP   GEO-ECONOMIC AREA     MLS AREA
0      EMBASSY  NORTHWEST MERIDIAN  NW MERIDIAN
1  CHERRY LANE  NORTHWEST MERIDIAN  NW MERIDIAN
2     3N 1W 11  NORTHWEST MERIDIAN  NW MERIDIAN
3     4N 1W 26  NORTHWEST MERIDIAN  NW MERIDIAN
4   FRITTS SUB  NORTHWEST MERIDIAN  NW MERIDIAN

## Join neighKey.pkl to house.pkl, to make houseAll.pkl

In [7]:
groupList = pd.read_pickle('groupList.pkl')
house = pd.read_pickle('house.pkl')

houseAll = pd.merge(house, groupList, on = 'GROUP', how = 'left')

colList = ['GROUP', 'GEO-ECONOMIC AREA', 'MLS AREA']

for col in colList:
    houseAll[col] = houseAll[col].astype('category')

houseAll = houseAll.rename(columns={'GEO-ECONOMIC AREA' : 'Neighborhood','MLS AREA' : 'Area', 'YEAR' : 'Year'})

houseAll.to_pickle('houseAll.pkl')
houseAll.head(5)

,PARCEL,Year,ACREAGE,GROUP,TOWNSHIP,RANGE,SECTION,YR BUILT,REMODEL YR,DWELLINGS,...,GARAGE 1 SQ FT,GARAGE 1 TYPE,GARAGE 2 SQ FT,GARAGE 2 TYPE,POOL SQ FT,TAV,Sale Price,Sale Date,Neighborhood,Area
0,R0017650020,2000,0.246,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,476,DETACHED,280,DETACHED,0,158000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
1,R0017650030,2000,0.165,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
2,R0017650040,2000,0.144,AARON PARK SUB,3N,1E,1,1999,0,SFD,...,280,DETACHED,0,NaN,0,165800.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
3,R0017650050,2000,0.211,AARON PARK SUB,3N,1E,1,1998,0,SFD,...,0,NaN,0,NaN,0,155000.0,NaN,NaT,NORTH CENTRAL BENCH,W BOISE
4,R0027000008,2000,0.270,ABBS SUB,3N,2E,21,1937,1992,SFD,...,240,DETACHED,940,DETACHED,0,129100.0,NaN,NaT,CENTRAL BOISE BENCH,BOISE BENCH

In [ ]:
houseAll.shape
houseAll.info()

In [ ]:
house.shape

# Raw Jobs Data into dataframe

In [8]:
#xl2 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/boise_msa_jobs_2000_to_2018.xlsx")
xl2 = pd.ExcelFile("./Data/boise_msa_jobs_2000_to_2018.xlsx")
rawJobs = xl2.parse("raw")
rawJobs.to_pickle("rawJobs.pkl")

In [ ]:
rawJobs.group.unique()

### From rawJobs.pkl to metro_jobs from pickle

In [9]:
# open the pickle and turn it into a dataframe
rawJobs = pd.read_pickle("rawJobs.pkl")
metroJobs = rawJobs.copy()

# Splitting Strings
metroJobs['Occ_Cat_Code'], metroJobs['Occ_Sub_Cat_Code'] = metroJobs['occ_code'].str.split('-',1).str


# fixing the ['group'] column
metroJobs['group'] = metroJobs['group'].replace(np.nan,'detailed', regex=True)
metroJobs['occ_titl'] = metroJobs['occ_titl'].replace('Industry Total', 'All Occupations', regex = True)
metroJobs.loc[metroJobs.occ_titl == 'All Occupations', 'group'] = 'total'



# Assigning New Column Names
metroJobs = metroJobs.rename(columns ={'occ_titl': 'Occ_Title', 'group':'Cat_Type',
                                        'tot_emp': 'Emp_Count', 'h_mean':'Hr_Wage_Mean',
                                        'a_mean':'An_Wage_Mean', 'h_median': 'Hr_Median',
                                        'a_median':'An_Median','year':'Year'})

# Assigning New Data Types
float_list = ['Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']

# Cleaning Column Strings for Data Typing
metroJobs[float_list] = metroJobs[float_list].replace('\W','',regex=True)

# Assigning new Data Types
#         need to use floats becuase int cannot handle missing
metroJobs = metroJobs.astype({ 'Year':'category', 'Cat_Type' : 'category',
                               'Occ_Cat_Code':'category','Occ_Sub_Cat_Code': 'category'})

metroJobs[float_list] = metroJobs[float_list].apply(pd.to_numeric, errors = 'coerce')


# Dropped Columns
metroJobs = metroJobs.drop(['prim_state','area','area_name','occ_code',
                              'emp_prse','mean_prse','h_wpct10','h_wpct25',
                             'h_wpct75','h_wpct90','a_wpct10','a_wpct25',
                             'a_wpct75','a_wpct90'], axis = 1)

# Assigning New Order to the Columns
metroJobs = metroJobs[['Year','Occ_Cat_Code','Occ_Sub_Cat_Code','Occ_Title','Cat_Type',
                        'Emp_Count','Hr_Wage_Mean','An_Wage_Mean','Hr_Median','An_Median']]

metroJobs['Occ_Title'] = metroJobs['Occ_Title'].str.title()
metroJobs['Emp_Count'] = metroJobs['Emp_Count'].fillna(0)
metroJobs['An_Wage_Mean'] = metroJobs['An_Wage_Mean'].fillna(0)

metroJobs.to_pickle('metroJobs.pkl')
metroJobs.head(5)

,Year,Occ_Cat_Code,Occ_Sub_Cat_Code,Occ_Title,Cat_Type,Emp_Count,Hr_Wage_Mean,An_Wage_Mean,Hr_Median,An_Median
0,2000,11,0000,Management Occupations,major,15790.0,2950.0,61360.0,2668.0,55490.0
1,2000,11,1011,Chief Executives,detailed,1100.0,4802.0,99870.0,4889.0,101680.0
2,2000,11,1021,General And Operations Managers,detailed,5180.0,2761.0,57430.0,2392.0,49750.0
3,2000,11,2011,Advertising And Promotions Managers,detailed,220.0,2020.0,42030.0,1903.0,39590.0
4,2000,11,2021,Marketing Managers,detailed,520.0,3238.0,67350.0,2708.0,56330.0

In [ ]:
jobsTest = metroJobs[metroJobs['Emp_Count'] > 200000]
jobsTest

# Clean jobs for empolyee count for job type using major job categories

In [10]:
metroJobs = pd.read_pickle('metroJobs.pkl')

# start filtering to make df with Occ_Title as cols and the value be Emp_Count for each year.

# 0000 is the sub_cat # for the head of Cat
jobsF = metroJobs.copy()
jobsF = jobsF.loc[jobsF['Cat_Type'] != 'detailed']


jobsF['Occ_Title'] = jobsF['Occ_Title'].replace('Services','Service', regex = True)
jobsF['Occ_Title'] = jobsF['Occ_Title'].replace('Practitioners','Practitioner', regex = True)
jobsF['Occ_Title'] = jobsF['Occ_Title'].replace(' Mathematical Science Occupations',' Mathematical Occupations', regex = True)


jobsClean = jobsF.copy()
jobsClean.to_pickle('jobsClean.pkl')
jobsClean.head()

,Year,Occ_Cat_Code,Occ_Sub_Cat_Code,Occ_Title,Cat_Type,Emp_Count,Hr_Wage_Mean,An_Wage_Mean,Hr_Median,An_Median
0,2000,11,0000,Management Occupations,major,15790.0,2950.0,61360.0,2668.0,55490.0
24,2000,13,0000,Business And Financial Operations Occupations,major,9560.0,2150.0,44710.0,1942.0,40390.0
45,2000,15,0000,Computer And Mathematical Occupations,major,6020.0,2577.0,53600.0,2377.0,49440.0
54,2000,17,0000,Architecture And Engineering Occupations,major,12860.0,2178.0,45300.0,2062.0,42900.0
73,2000,19,0000,"Life, Physical, And Social Science Occupations",major,2650.0,1714.0,35650.0,1540.0,32040.0

In [ ]:
#jobsClean[jobsClean['Cat_Type'] == 'major'].count()
#jobsClean.shape
metroJobs.Cat_Type.nunique()

## Jobs by Industry, employee count

In [11]:
jobsF1 = pd.read_pickle('jobsClean.pkl')
jobsF1 = jobsF.drop(['Occ_Cat_Code', 'Occ_Sub_Cat_Code', 'Cat_Type'], axis =1)
jobsF1 = jobsF1.iloc[:,0:3]

jobsP1 = pd.pivot(jobsF1, values = 'Emp_Count', index = 'Year', columns = 'Occ_Title')
jobsP1 = jobsP1.reset_index()

# Gives the wrong answer, 2018 should be 706140
jobsP1['Job_Manual_Count'] = jobsP1.iloc[:,2:].sum(axis = 1)

jobsP1.at[0,'All Occupations'] = 229780
jobsP1.to_pickle('jobTypes.pkl')
jobsP1

Occ_Title,Year,All Occupations,Architecture And Engineering Occupations,"Arts, Design, Entertainment, Sports, And Media Occupations",Building And Grounds Cleaning And Maintenance Occupations,Business And Financial Operations Occupations,Community And Social Service Occupations,Computer And Mathematical Occupations,Construction And Extraction Occupations,"Education, Training, And Library Occupations",...,Legal Occupations,"Life, Physical, And Social Science Occupations",Management Occupations,Office And Administrative Support Occupations,Personal Care And Service Occupations,Production Occupations,Protective Service Occupations,Sales And Related Occupations,Transportation And Material Moving Occupations,Job_Manual_Count
0,2000,229780.0,12860.0,2730.0,7570.0,9560.0,2840.0,6020.0,13650.0,10950.0,...,1670.0,2650.0,15790.0,38160.0,2830.0,19040.0,3850.0,21960.0,14930.0,229780.0
1,2001,222100.0,11400.0,2480.0,7610.0,9030.0,2790.0,5670.0,13620.0,9690.0,...,1660.0,2080.0,16050.0,37380.0,2710.0,16470.0,3830.0,21410.0,14250.0,222100.0
2,2002,225820.0,11880.0,2590.0,7950.0,9380.0,2990.0,6190.0,11790.0,NaN,...,1730.0,2220.0,15800.0,39150.0,2990.0,15580.0,4120.0,22310.0,14620.0,216720.0
3,2003,228350.0,7010.0,2540.0,7780.0,9120.0,3270.0,5630.0,12100.0,NaN,...,1690.0,2440.0,15580.0,39690.0,3220.0,17330.0,4380.0,24540.0,14620.0,215740.0
4,2004,232950.0,7310.0,3100.0,7960.0,9630.0,3360.0,6700.0,12010.0,11440.0,...,1860.0,2290.0,17130.0,40830.0,3130.0,15520.0,5060.0,24210.0,13990.0,232950.0
5,2005,254330.0,7720.0,2860.0,7620.0,10310.0,3150.0,7090.0,0.0,11910.0,...,2040.0,2880.0,19450.0,44340.0,4380.0,18010.0,4790.0,24940.0,14880.0,238590.0
6,2006,268600.0,8950.0,3310.0,8490.0,11640.0,3500.0,6970.0,18680.0,11860.0,...,1940.0,2540.0,21200.0,46910.0,5150.0,18100.0,4330.0,26200.0,16450.0,268610.0
7,2007,284160.0,8480.0,4430.0,9100.0,11490.0,4160.0,7330.0,19070.0,12040.0,...,1780.0,2830.0,20000.0,47860.0,6090.0,20100.0,4830.0,30030.0,19430.0,284130.0
8,2008,286080.0,8660.0,4630.0,8740.0,11440.0,5480.0,6920.0,15340.0,12030.0,...,2030.0,3300.0,20120.0,47380.0,5930.0,19510.0,5730.0,31410.0,18600.0,286070.0
9,2009,264010.0,7950.0,4960.0,8340.0,10680.0,5480.0,7580.0,12400.0,12590.0,...,2270.0,3110.0,18200.0,43710.0,6040.0,14490.0,5410.0,28840.0,17620.0,263990.0
10,2010,255700.0,6770.0,4090.0,7920.0,11040.0,5480.0,8580.0,10830.0,14550.0,...,2540.0,3080.0,16750.0,42900.0,6680.0,13180.0,5210.0,26650.0,15150.0,255750.0
11,2011,254850.0,7030.0,3390.0,8020.0,11090.0,5020.0,8250.0,10490.0,14480.0,...,2240.0,2910.0,15560.0,44510.0,7860.0,13200.0,5460.0,26800.0,15250.0,254880.0
12,2012,261410.0,7050.0,3350.0,7790.0,11960.0,5200.0,7890.0,10690.0,14970.0,...,2320.0,3120.0,14830.0,45210.0,8200.0,13360.0,5800.0,26880.0,16290.0,261400.0
13,2013,269680.0,7300.0,3450.0,7960.0,11820.0,5160.0,7660.0,11120.0,15510.0,...,2290.0,2920.0,15480.0,46090.0,8570.0,14560.0,5710.0,28410.0,17260.0,269680.0
14,2014,279870.0,7160.0,4520.0,8310.0,12410.0,5390.0,8180.0,12770.0,15590.0,...,2300.0,2820.0,15800.0,47920.0,9600.0,15330.0,5680.0,28580.0,17450.0,279870.0
15,2015,284950.0,7070.0,4540.0,8630.0,13450.0,5180.0,8900.0,13980.0,15690.0,...,2150.0,2610.0,16490.0,49470.0,9190.0,16080.0,5350.0,28630.0,16040.0,284950.0
16,2016,296390.0,7450.0,4530.0,9660.0,13920.0,5160.0,8840.0,15610.0,15950.0,...,2020.0,2770.0,17480.0,49990.0,10710.0,16310.0,5750.0,30700.0,15870.0,296400.0
17,2017,308170.0,7420.0,4160.0,10180.0,14780.0,4570.0,8540.0,17900.0,16240.0,...,2310.0,2770.0,19020.0,50980.0,10340.0,16840.0,5880.0,31850.0,17200.0,308160.0
18,2018,321520.0,7810.0,4290.0,10340.0,14610.0,4610.0,8850.0,18420.0,16600.0,...,2340.0,3080.0,20210.0,50390.0,11680.0,19560.0,5950.0,32480.0,19410.0,321510.0

In [ ]:
jobsP1.shape

## Clean jobs for empolyee count for Salery Range not using major job categories

In [12]:
metroJobs = pd.read_pickle('metroJobs.pkl')

jobsF2 = metroJobs.copy()

jobsF2 = jobsF2.loc[jobsF2['Cat_Type'] == 'detailed']


jobsF2 = jobsF2[['Year', 'Emp_Count' ,'An_Wage_Mean']]
#jobsF2 = jobsF2[np.isfinite(jobsF2['An_Wage_Mean'])]
#jobsF2['Emp_Count'] = jobsF2['Emp_Count'].fillna(0)
#jobsF2['']fillna(0)

jobsF2.head()

   Year  Emp_Count  An_Wage_Mean
1  2000     1100.0       99870.0
2  2000     5180.0       57430.0
3  2000      220.0       42030.0
4  2000      520.0       67350.0
5  2000      730.0       62550.0

random code for searching for errors

In [ ]:
x = pd.read_pickle('metroJobs.pkl')
x = metroJobs.loc[metroJobs['Year'] == 2016]
x = x.loc[x['An_Wage_Mean'] < 200000]
#y = jobsF2.loc[jobsF2['An_Wage_Mean'] == np.nan]
#z = metroJobs.copy()
x.sort_values(['An_Wage_Mean'], ascending = False)
#jobsF2.isna().sum()
#jobsF2.shape
#jobsF2.Cat_Type.unique()

## Jobs by Salery Range, empolyee count

In [13]:
df = jobsF2.copy()


jobsSalery = df.groupby([df.Year,pd.cut(df.An_Wage_Mean,[10000,40000,70000,100000,150000,200000,300000]).astype(str)])[['Emp_Count']].sum().reset_index()

jobsSalery = pd.pivot(jobsSalery, values = 'Emp_Count', index = 'Year', columns = 'An_Wage_Mean')
jobsSalery = jobsSalery.reset_index()
jobsSalery = jobsSalery.replace(np.nan,0)

jobsSalery = jobsSalery[['Year','(10000.0, 40000.0]','(40000.0, 70000.0]','(70000.0, 100000.0]',
          '(100000.0, 150000.0]', '(150000.0, 200000.0]', '(200000.0, 300000.0]' ]]

jobsSalery.to_pickle('jobSalery.pkl')
jobsSalery

An_Wage_Mean,Year,"(10000.0, 40000.0]","(40000.0, 70000.0]","(70000.0, 100000.0]","(100000.0, 150000.0]","(150000.0, 200000.0]","(200000.0, 300000.0]"
0,2000,150080.0,34980.0,3710.0,0.0,0.0,0.0
1,2001,135860.0,45570.0,4520.0,0.0,0.0,0.0
2,2002,129450.0,40330.0,5850.0,1100.0,0.0,0.0
3,2003,132290.0,40650.0,4960.0,1160.0,0.0,0.0
4,2004,143120.0,44460.0,5710.0,2030.0,0.0,0.0
5,2005,147750.0,53520.0,4010.0,3070.0,220.0,0.0
6,2006,159950.0,50600.0,9800.0,3970.0,200.0,0.0
7,2007,167110.0,60680.0,20230.0,3950.0,240.0,0.0
8,2008,162520.0,64660.0,22890.0,4680.0,250.0,0.0
9,2009,146070.0,65420.0,23110.0,1280.0,230.0,590.0
10,2010,153160.0,57640.0,21740.0,1030.0,460.0,1110.0
11,2011,152690.0,60330.0,21760.0,2580.0,510.0,580.0
12,2012,156420.0,64410.0,19490.0,3490.0,350.0,540.0
13,2013,162660.0,64030.0,23170.0,4090.0,550.0,370.0
14,2014,165490.0,68950.0,21670.0,5170.0,470.0,970.0
15,2015,168410.0,67660.0,23490.0,5460.0,380.0,610.0
16,2016,170670.0,73040.0,24670.0,6040.0,0.0,1130.0
17,2017,175710.0,80080.0,27010.0,7700.0,0.0,1010.0
18,2018,177950.0,88130.0,27880.0,9860.0,210.0,860.0

# Raw Population to dataframe

In [16]:
# xl3 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2000_to_2010.xlsx")
# xl4 = pd.ExcelFile("/content/drive/My Drive/Colab Notebooks/idaho_county_population_2010_to_2018.xlsx")
xl3 = pd.ExcelFile("./Data/idaho_county_population_2000_to_2010.xlsx")
xl4 = pd.ExcelFile("./Data/idaho_county_population_2010_to_2018.xlsx")

In [17]:
dfpop1 = xl3.parse("main")
dfpop1.to_pickle('rawPop1.pkl')
dfpop2 = xl4.parse("main")
dfpop2.to_pickle('rawPop2.pkl')

In [ ]:
#dfpop1.head()

### This code to clean and prep population 00-10 from pickle

In [18]:
rawPop1 = pd.read_pickle('rawPop1.pkl')
temp1 = rawPop1.copy()
temp1 = temp1.iloc[2:48]
temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp = temp1['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)']
temp1 = temp1.drop(['table with row headers in column A and column headers in rows 3 through 4 (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp1 = temp1.astype(int)
temp1.columns = temp1.iloc[0]
temp1 = temp1.iloc[2:]
temp1['County'] = cTemp
pop1 = temp1.copy()
pop1.head(5)

2,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,County
4,303328,313896,321616,327393,334926,348755,363498,375368,382618,388577,Ada
5,3477,3495,3559,3624,3693,3817,3788,3949,4021,4000,Adams
6,75728,76296,76487,76312,76834,77419,78491,79338,80609,81994,Bannock
7,6424,6394,6219,6219,6170,6077,6071,6049,6027,6014,BearLake
8,9186,8968,8917,8901,8907,9053,9260,9296,9385,9286,Benewah

### This code to clean and prep population 10-18 from pickle

In [19]:
rawPop2 = pd.read_pickle('rawPop2.pkl')
temp2 = rawPop2.copy()
temp2 = temp2.replace(['Population Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp2.columns = temp2.iloc[0]
#temp2 = temp_df.iloc[2:]
cT2 = temp2['Geography']
temp2 = temp2.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp2 = temp2.astype(int)
temp2['County'] = cT2
temp2 = temp2.iloc[1:]
temp2 = temp2.replace('\s','', regex = True)

pop2 = temp2.copy()
pop2.head(5)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,County
1,393350,401235,408930,416080,425540,433047,444824,456885,469966,Ada
2,3962,3980,3907,3862,3882,3889,3940,4132,4250,Adams
3,83019,83628,83744,83449,83534,84216,84794,85641,87138,Bannock
4,5969,5955,5892,5948,5926,5879,5926,6031,6050,BearLake
5,9290,9172,9125,9028,9032,8990,9015,9165,9226,Benewah

### Merge the cleaned data frames for the 00-09 pop and 10-18 pop and pickle the result (totalPop)

In [20]:
totalPop = pd.merge(pop2,pop1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalPop = totalPop[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]


totalPop.to_pickle('totalPop.pkl')
totalPop.head(5)

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Ada,303328,313896,321616,327393,334926,348755,363498,375368,382618,388577,393350,401235,408930,416080,425540,433047,444824,456885,469966
1,Adams,3477,3495,3559,3624,3693,3817,3788,3949,4021,4000,3962,3980,3907,3862,3882,3889,3940,4132,4250
2,Bannock,75728,76296,76487,76312,76834,77419,78491,79338,80609,81994,83019,83628,83744,83449,83534,84216,84794,85641,87138
3,BearLake,6424,6394,6219,6219,6170,6077,6071,6049,6027,6014,5969,5955,5892,5948,5926,5879,5926,6031,6050
4,Benewah,9186,8968,8917,8901,8907,9053,9260,9296,9385,9286,9290,9172,9125,9028,9032,8990,9015,9165,9226

In [21]:
totalPop = pd.read_pickle('totalPop.pkl')
#totalPop

### From totalPop.pkl to metroPop, then pickle

In [22]:
totalPop = pd.read_pickle('totalPop.pkl')
totalPop = totalPop.iloc[[0,7,13,22,36],:]

temp3 = totalPop.copy()
temp3 = temp3.T
temp3.columns = temp3.iloc[0]
temp3 = temp3.iloc[1:]
temp3 = temp3.reset_index()
temp3 = temp3.rename(columns={'index':'Year'})

# Add the columns together for a total population
temp3['TotalPop'] = temp3['Ada']+temp3['Boise']+temp3['Canyon']+temp3['Gem']+temp3['Owyhee']
metroPop = temp3.copy()
pop_year_totals = metroPop.drop(columns=['Ada','Boise','Canyon','Gem','Owyhee'])

metroPop = metroPop.astype('int')
metroPop = metroPop.astype({'Year': 'category'})

metroPop.to_pickle('metroPop.pkl')
metroPop.head(5)

County  Year     Ada  Boise  Canyon    Gem  Owyhee  TotalPop
0       2000  303328   6702  133082  15215   10690    469017
1       2001  313896   6733  139179  15393   10877    486078
2       2002  321616   6854  145160  15488   10876    499994
3       2003  327393   6977  151395  15693   11033    512491
4       2004  334926   7004  157130  15925   10990    525975

In [ ]:
metroPop = pd.read_pickle('metroPop.pkl')
metroPop.dtypes

## Load House excel files and pickle

In [25]:
xl5 = pd.ExcelFile("./Data/idaho_housing_unit_count_2000_to_2010.xlsx")
xl6 = pd.ExcelFile("./Data/idaho_housing_unit_count_2010_to_2018.xlsx")

In [26]:
dfH1 = xl5.parse("main")
dfH1.to_pickle('rawHouse1.pkl') 
dfH2 = xl6.parse("main")
dfH2.to_pickle('rawHouse2.pkl')
#dfH1.head(5)

### From rawHouse1.pkl clean

In [27]:
temp5 = pd.read_pickle('rawHouse1.pkl')
temp5 = temp5.iloc[2:48]
# temp1 = temp1.replace(['County','\.','\s'],'', regex = True)
cTemp5 = temp5['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)']
temp5 = temp5.drop(['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
                    'Unnamed: 1','Unnamed: 12','Unnamed: 13'], axis = 1)
temp5 = temp5.astype(int)
temp5.columns = temp5.iloc[0]
temp5 = temp5.iloc[2:]
temp5['County'] = cTemp

house1 = temp5.copy()
house1.head(5)

2,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,County
4,119537,123537,127725,131639,136296,141931,149507,154060,156868,158504,Ada
5,1999,2056,2123,2198,2263,2361,2451,2530,2584,2620,Adams
6,29177,29491,29814,30184,30609,31184,31837,32508,32835,33065,Bannock
7,3289,3380,3466,3546,3634,3727,3759,3800,3854,3884,BearLake
8,4250,4299,4334,4370,4406,4443,4489,4529,4570,4600,Benewah

### From rawHouse2.pkl clean

In [28]:
temp6 = pd.read_pickle('rawHouse2.pkl')
temp6 = temp6.replace(['Housing Unit Estimate \(as of July 1\) \- ','County, Idaho'],'', regex = True)
temp6.columns = temp6.iloc[0]

cT6 = temp6['Geography']
temp6 = temp6.drop(['Id','Id2','Geography','April 1, 2010 - Census',
                     'April 1, 2010 - Estimates Base'], axis = 1)
temp6 = temp6.astype(int)
temp6['County'] = cT6
temp6 = temp6.iloc[1:]
temp6 = temp6.replace('\s','', regex = True)

house2 = temp6.copy()
house2.head(5)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,County
1,159814,161031,162421,164963,168141,171977,176086,180657,186481,Ada
2,2641,2654,2661,2666,2667,2671,2675,2684,2695,Adams
3,33228,33358,33424,33550,33703,33855,34037,34231,34450,Bannock
4,3917,3942,3967,3993,4019,4052,4076,4108,4155,BearLake
5,4635,4653,4662,4671,4682,4696,4712,4727,4753,Benewah

### Combine cleaned dataframes to merge into totalHouse and pickle

In [29]:
totalHouse = pd.merge(house2,house1, on = 'County')

# Reorder columns, not all column titles are str some are int, going to 
# transpose df so will turn them all into factors then
totalHouse = totalHouse[["County",2000,2001,2002,2003,2004,2005,2006,2007,
                    2008,2009,"2010","2011","2012","2013","2014","2015",
                    "2016","2017","2018"]]

totalHouse.to_pickle('totalHouse.pkl')
totalHouse.head(5)

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Ada,119537,123537,127725,131639,136296,141931,149507,154060,156868,158504,159814,161031,162421,164963,168141,171977,176086,180657,186481
1,Adams,1999,2056,2123,2198,2263,2361,2451,2530,2584,2620,2641,2654,2661,2666,2667,2671,2675,2684,2695
2,Bannock,29177,29491,29814,30184,30609,31184,31837,32508,32835,33065,33228,33358,33424,33550,33703,33855,34037,34231,34450
3,BearLake,3289,3380,3466,3546,3634,3727,3759,3800,3854,3884,3917,3942,3967,3993,4019,4052,4076,4108,4155
4,Benewah,4250,4299,4334,4370,4406,4443,4489,4529,4570,4600,4635,4653,4662,4671,4682,4696,4712,4727,4753

In [ ]:
totalHouse = pd.read_pickle('totalHouse.pkl')
#totalHouse

### From totalHouse.pkl make metroHouse and pickle it

In [30]:
metroHouseT = pd.read_pickle('totalHouse.pkl')
metroHouseT = metroHouseT.iloc[[0,7,13,22,36],:]

tempH = metroHouseT.copy()
tempH = tempH.T
tempH.columns = tempH.iloc[0]
tempH = tempH.iloc[1:]
tempH = tempH.reset_index()
tempH = tempH.rename(columns={'index':'Year'})

# Add columns together for a total house count
tempH['TotalHouse'] = tempH['Ada']+tempH['Boise']+tempH['Canyon']+tempH['Gem']+tempH['Owyhee']

metroHouse = tempH.copy()
metroHouse = metroHouse.astype('int')
metroHouse = metroHouse.astype({'Year': 'category'})


metroHouse.to_pickle('metroHouse.pkl')
metroHouse

County  Year     Ada  Boise  Canyon   Gem  Owyhee  TotalHouse
0       2000  119537   4361   48483  5919    4464      182764
1       2001  123537   4464   50560  6055    4511      189127
2       2002  127725   4536   52790  6161    4541      195753
3       2003  131639   4617   55471  6295    4570      202592
4       2004  136296   4731   58154  6414    4612      210207
5       2005  141931   4835   60884  6557    4650      218857
6       2006  149507   4985   63995  6781    4714      229982
7       2007  154060   5122   66953  6960    4750      237845
8       2008  156868   5220   68425  7045    4786      242344
9       2009  158504   5266   69190  7079    4784      244823
10      2010  159814   5301   69506  7104    4786      246511
11      2011  161031   5324   69854  7116    4797      248122
12      2012  162421   5351   70175  7129    4811      249887
13      2013  164963   5375   71019  7145    4827      253329
14      2014  168141   5396   72012  7178    4841      257568
15      2015  171977   5427   73112  7214    4857      262587
16      2016  176086   5477   74238  7251    4879      267931
17      2017  180657   5534   76084  7346    4904      274525
18      2018  186481   5604   77867  7407    4941      282300

In [ ]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroHouse.dtypes

## Create yearTotals from metroHouse.pkl and metroPop.pkl

In [32]:
metroHouse = pd.read_pickle('metroHouse.pkl')
metroPop = pd.read_pickle('metroPop.pkl')
metroJobs = pd.read_pickle('jobTypes.pkl')
yearTotals = metroHouse.copy()
yearTotals = yearTotals.drop(['Ada','Boise','Gem','Canyon','Owyhee'],axis =1)
yearTotals['TotalPop'] = metroPop['TotalPop']
yearTotals['TotalEmp'] = metroJobs['All Occupations']
yearTotals.to_pickle('yearTotals.pkl')
yearTotals

County  Year  TotalHouse  TotalPop  TotalEmp
0       2000      182764    469017  229780.0
1       2001      189127    486078  222100.0
2       2002      195753    499994  225820.0
3       2003      202592    512491  228350.0
4       2004      210207    525975  232950.0
5       2005      218857    546980  254330.0
6       2006      229982    570583  268600.0
7       2007      237845    590330  284160.0
8       2008      242344    603218  286080.0
9       2009      244823    611341  264010.0
10      2010      246511    617869  255700.0
11      2011      248122    627640  254850.0
12      2012      249887    637514  261410.0
13      2013      253329    649411  269680.0
14      2014      257568    662777  279870.0
15      2015      262587    674874  284950.0
16      2016      267931    691605  296390.0
17      2017      274525    710080  308170.0
18      2018      282300    730426  321520.0